In [1]:
# Import necessary libraries
import sys
import os
import numpy as np
import pandas as pd
# import json
import sqlite3
%load_ext sql

In [2]:
# from sqlalchemy import Column, Integer, String, ForeignKey
# from sqlalchemy.orm import declarative_base
# from sqlalchemy import create_engine
# from sqlalchemy.orm import sessionmaker

In [3]:
# Directories
# Main directory
main_dir = os.path.abspath('..\\\\..\\\\')
# Data directory
data_dir = os.path.join(main_dir, 'Data')
# Source data directory
data_source_dir = os.path.join(main_dir, 'Data', 'Source')
# Preprocessing data directory
data_preproc_dir = os.path.join(main_dir, 'Data', 'Preprocessing')
# Database data directory
data_database_dir = os.path.join(main_dir, 'Data', 'Database')

In [4]:
# Read the metadata file
file_name = 'database_cleaned.csv'
df = pd.read_csv(os.path.join(data_preproc_dir, file_name), header=0, index_col=0)
df

,type,name,required_age,is_free,supported_languages,pc_requirements,mac_requirements,linux_requirements,legal_notice,developers,...,metacritic,drm_notice,currency,initial,final,discount_percent,initial_formatted,final_formatted,recurring_sub,recurring_sub_desc
steam_appid,,,,,,,,,,,,,,,,,,,,,
1198490,game,All That Remains: Part 1,0,False,"English<strong>*</strong>, French, Italian, Ge...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],Copyright Glitch Games Ltd 2012 - 2021,['Glitch Games'],...,NaN,NaN,EUR,2.39,239.0,0.0,NaN,"2,39€",NaN,NaN
1198510,game,Paperball,0,False,"English<strong>*</strong>, German, Japanese, D...",{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,['Cliax Games'],...,NaN,NaN,EUR,9.99,999.0,0.0,NaN,"9,99€",NaN,NaN
1198550,game,Moderium,0,False,English<strong>*</strong><br><strong>*</strong...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,['All Saints Gaming'],...,NaN,NaN,EUR,0.79,79.0,0.0,NaN,"0,79€",NaN,NaN
1198600,game,Pizza Time Explosion,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],"""Pizza Time Explosion"" game software is © 2019...",['Electric Prune Juice'],...,NaN,NaN,EUR,4.99,499.0,0.0,NaN,"4,99€",NaN,NaN
1198630,game,Customer Cums First!,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,NaN,['Miel'],...,NaN,NaN,EUR,9.99,999.0,0.0,NaN,"9,99€",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113770,game,Lunch A Palooza,0,False,"English, French, Italian, German, Spanish - Sp...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],©2019 Alternative Software Ltd.<br />\r\n©2019...,['Seashell Studio'],...,NaN,NaN,EUR,10.79,1079.0,0.0,NaN,"10,79€",NaN,NaN
1113780,game,Uncharted Tides: Port Royal,0,False,"English<strong>*</strong>, French, Italian, Ge...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,© 2019 Artifex Mundi S.A. All rights reserved....,['Cordelia Games'],...,NaN,NaN,EUR,14.99,1499.0,0.0,NaN,"14,99€",NaN,NaN
1113000,game,Persona 4 Golden,0,False,"English<strong>*</strong>, Japanese<strong>*</...",{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],©ATLUS. ©SEGA. All rights reserved.,['ATLUS'],...,NaN,Denuvo Anti-tamper,EUR,19.99,1999.0,0.0,NaN,"19,99€",NaN,NaN
1113060,game,Magic Farm 3: The Ice Danger,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,"[""Meridian'93""]",...,NaN,NaN,EUR,16.79,1679.0,0.0,NaN,"16,79€",NaN,NaN
1113110,game,The Stranger: Interactive Film,0,False,English<strong>*</strong><br><strong>*</strong...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],@Giovanni Altrui<br />\r\nAll rights reserved,['Giovanni Altrui'],...,NaN,NaN,EUR,6.59,659.0,0.0,NaN,"6,59€",NaN,NaN

In [20]:
# Randomly select values in the table 
df = df.sample(frac=0.05)

In [5]:
df = df.reset_index()

In [6]:
df.columns

Index(['steam_appid', 'type', 'name', 'required_age', 'is_free',
       'supported_languages', 'pc_requirements', 'mac_requirements',
       'linux_requirements', 'legal_notice', 'developers', 'publishers',
       'price_overview', 'packages', 'package_groups', 'platforms',
       'categories', 'genres', 'screenshots', 'movies', 'release_date',
       'support_info', 'background', 'content_descriptors', 'num_reviews',
       'review_score', 'review_score_desc', 'total_positive', 'total_negative',
       'total_reviews', 'controller_support', 'dlc', 'demos',
       'recommendations', 'achievements', 'reviews', 'ext_user_account_notice',
       'metacritic', 'drm_notice', 'currency', 'initial', 'final',
       'discount_percent', 'initial_formatted', 'final_formatted',
       'recurring_sub', 'recurring_sub_desc'],
      dtype='object')

In [7]:
# Create/connect to the database file
file_name = "Games.db"
conn = sqlite3.connect(os.path.join(data_database_dir, file_name))
c = conn.cursor()

In [9]:
os.path.relpath(data_database_dir, os.path.abspath("."))

'..\\..\\Data\\Database'

In [10]:
# Connecting to database:
%sql sqlite:///..\\..\\Data\\Database\\Games.db

'Connected: @..\\\\..\\\\Data\\\\Database\\\\Games.db'

In [13]:
# Create table for games
columns = {'steam_appid': 'INT',
          'name': 'VARCHAR',
          'total_reviews': 'INT',
          'total_positive': 'INT',
          'total_negative': 'INT'} 

# Create sql command for table creation
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS GAME(\n"
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"    {variable_name} {variable_type}"
    if(idx==0):
        sql_command += " NOT NULL PRIMARY KEY"
    if(idx!=len(columns)-1):
        sql_command += ","
    sql_command += "\n"
        
sql_command +=  ")"

create_table_sql = sql_command
print(create_table_sql)

CREATE TABLE IF NOT EXISTS GAME(
    steam_appid INT NOT NULL PRIMARY KEY,
    name VARCHAR,
    total_reviews INT,
    total_positive INT,
    total_negative INT
)

In [14]:
c.execute(create_table_sql)

In [ ]:
# Populate the table

In [16]:
%%sql
SELECT * FROM Game

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.

[]

In [ ]:
# Create table for genres
columns = {'steam_appid': 'INT',
          'name': 'VARCHAR',
          'total_reviews': 'INT',
          'total_positive': 'INT',
          'total_negative': 'INT'} 

# Create sql command for table creation
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS GAME(\n"
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"    {variable_name} {variable_type}"
    if(idx==0):
        sql_command += " NOT NULL PRIMARY KEY"
    if(idx!=len(columns)-1):
        sql_command += ","
    sql_command += "\n"
        
sql_command +=  ")"

create_table_sql = sql_command
print(create_table_sql)

In [17]:
df_games = pd.read_sql_query("SELECT * FROM Game", conn)
df_games

Empty DataFrame
Columns: [steam_appid, name, total_reviews, total_positive, total_negative]
Index: []

In [25]:
c.execute("SELECT * FROM Game")
rows = c.fetchall()
rows

[]

In [ ]:
sql_create_games_table = """ CREATE TABLE IF NOT EXISTS projects (
id integer PRIMARY KEY,
name text NOT NULL,
begin_date text,
end_date text
); """

In [ ]:
print(sql_create_games_table)

In [ ]:
# Declarative base class
Base = declarative_base()

# Table inheriting from the base
class Games(Base):
    __tablename__ = 'user'

    steam_appid = Column(Integer, primary_key=True)
    name = Column(String)
    required_age = Column(Integer)
    review_score = Column(Integer)

In [ ]:
engine = create_engine('sqlite:///Games.db')
Base.metadata.create_all(engine)

In [ ]:
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [ ]:
# Connecting to database:
%sql sqlite:///Games.db

In [ ]:
%%sql
SELECT * FROM Game

In [ ]:
# cursor.execute(sql_command)

In [ ]:
# # cursor.execute("SELECT * FROM EMPLOYEE")
# rows = cursor.fetchall()

In [ ]:
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [ ]:
column_names = ['steam_appid', 'name', 'required_age']
column_data_types = ['INT', 'VARCHAR', 'INT']

# Create sql command for table creation
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS GAME(\n"
for idx, column_name in enumerate(column_names):
    sql_command += f"    {column_name} {column_data_types[idx]}"
    if(idx==0):
        sql_command += " NOT NULL PRIMARY KEY"
    if(idx!=len(column_names)-1):
        sql_command += ","
    sql_command += "\n"
        
sql_command +=  ")"
sql_command

In [ ]:
print(sql_command)

In [ ]:
engine.execute(sql_command)

In [ ]:
sql_command ="""CREATE TABLE EMPLOYEE(
    FIRST_NAME VARCHAR NOT NULL PRIMARY KEY,
    LAST_NAME VARCHAR,
    AGE INT
)"""

In [ ]:
sql_command

In [ ]:
print(sql_command)

In [ ]:
engine.execute(sql_command)

In [ ]:
%%sql
SELECT * FROM EMPLOYEE

In [ ]:
# Delete table
sql = 'DROP TABLE IF EXISTS EMPLOYEE;'
result = engine.execute(sql)

In [ ]:
%%sql
SELECT * FROM EMPLOYEE

In [ ]:
# %%sql

# Insert values into the table `user`

sql = """INSERT INTO Game(steam_appid, name, game_type)
    VALUES (2,'ece','horror'), 
    (3,'xx','fun');"""

In [ ]:
engine.execute(sql)