In [1]:
# Import necessary libraries
import sys
import os
import numpy as np
import pandas as pd
import ast
import sqlite3
%load_ext sql

In [2]:
# Directories
# Main directory
main_dir = os.path.abspath('..\\\\..\\\\')
# Data directory
data_dir = os.path.join(main_dir, 'Data')
# Source data directory
data_source_dir = os.path.join(main_dir, 'Data', 'Source')
# Preprocessing data directory
data_preproc_dir = os.path.join(main_dir, 'Data', 'Preprocessing')
# Database data directory
data_database_dir = os.path.join(main_dir, 'Data', 'Database')

In [3]:
# Read the data
file_name = 'database_cleaned.csv'
df = pd.read_csv(os.path.join(data_preproc_dir, file_name), header=0, index_col=0)
df

,type,name,required_age,is_free,supported_languages,pc_requirements,mac_requirements,linux_requirements,legal_notice,developers,...,metacritic,drm_notice,price_currency,price_initial,price_final,price_discount_percent,price_recurring_sub,price_sub_initial,price_sub_renewal_months,price_sub_monthly
steam_appid,,,,,,,,,,,,,,,,,,,,,
1198490,game,All That Remains: Part 1,0,False,"English<strong>*</strong>, French, Italian, Ge...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],Copyright Glitch Games Ltd 2012 - 2021,['Glitch Games'],...,NaN,NaN,EUR,2.39,2.39,0.0,NaN,NaN,NaN,NaN
1198510,game,Paperball,0,False,"English<strong>*</strong>, German, Japanese, D...",{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,['Cliax Games'],...,NaN,NaN,EUR,9.99,9.99,0.0,NaN,NaN,NaN,NaN
1198550,game,Moderium,0,False,English<strong>*</strong><br><strong>*</strong...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,['All Saints Gaming'],...,NaN,NaN,EUR,0.79,0.79,0.0,NaN,NaN,NaN,NaN
1198600,game,Pizza Time Explosion,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],"""Pizza Time Explosion"" game software is © 2019...",['Electric Prune Juice'],...,NaN,NaN,EUR,4.99,4.99,0.0,NaN,NaN,NaN,NaN
1198630,game,Customer Cums First!,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,NaN,['Miel'],...,NaN,NaN,EUR,9.99,9.99,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113770,game,Lunch A Palooza,0,False,"English, French, Italian, German, Spanish - Sp...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],©2019 Alternative Software Ltd.<br />\r\n©2019...,['Seashell Studio'],...,NaN,NaN,EUR,10.79,10.79,0.0,NaN,NaN,NaN,NaN
1113780,game,Uncharted Tides: Port Royal,0,False,"English<strong>*</strong>, French, Italian, Ge...",{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,© 2019 Artifex Mundi S.A. All rights reserved....,['Cordelia Games'],...,NaN,NaN,EUR,14.99,14.99,0.0,NaN,NaN,NaN,NaN
1113000,game,Persona 4 Golden,0,False,"English<strong>*</strong>, Japanese<strong>*</...",{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],©ATLUS. ©SEGA. All rights reserved.,['ATLUS'],...,NaN,Denuvo Anti-tamper,EUR,19.99,19.99,0.0,NaN,NaN,NaN,NaN
1113060,game,Magic Farm 3: The Ice Danger,0,False,English,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],[],NaN,"[""Meridian'93""]",...,NaN,NaN,EUR,16.79,16.79,0.0,NaN,NaN,NaN,NaN
1113110,game,The Stranger: Interactive Film,0,False,English<strong>*</strong><br><strong>*</strong...,{'minimum': '<strong>Minimum:</strong><br><ul ...,{'minimum': '<strong>Minimum:</strong><br><ul ...,[],@Giovanni Altrui<br />\r\nAll rights reserved,['Giovanni Altrui'],...,NaN,NaN,EUR,6.59,6.59,0.0,NaN,NaN,NaN,NaN

In [4]:
# Read the genres table
file_name = 'genres_cleaned.csv'
df_genres = pd.read_csv(os.path.join(data_preproc_dir, file_name), header=0, index_col=0)
df_genres

                          genre
genre_id
25                    Adventure
1                        Action
23                        Indie
4                        Casual
3                           RPG
28                   Simulation
2                      Strategy
70                 Early Access
18                       Sports
29        Massively Multiplayer
9                        Racing
51         Animation & Modeling
53        Design & Illustration
54                    Education
56            Software Training
57                    Utilities
59               Web Publishing
60             Game Development
37                 Free to Play
55                Photo Editing
58             Video Production
50                   Accounting
52             Audio Production
71               Sexual Content
73                      Violent
74                         Gore
72                       Nudity
80                        Movie

In [5]:
# Randomly select values in the table  #delete
df = df.sample(frac=0.05)

In [6]:
df = df.reset_index()
df.genres = df.genres.map(lambda x: ast.literal_eval(x))
df.genres = df.genres.map(lambda x: [int(y) for y in x if x is not np.nan])
df_genres = df_genres.reset_index()
df.genres

0             [1, 4, 23]
1      [1, 25, 23, 3, 2]
2             [1, 23, 3]
3                [25, 4]
4                [1, 23]
             ...
226              [1, 23]
227              [1, 23]
228              [1, 23]
229              [28, 2]
230       [1, 25, 23, 2]
Name: genres, Length: 231, dtype: object

In [7]:
df.columns

Index(['steam_appid', 'type', 'name', 'required_age', 'is_free',
       'supported_languages', 'pc_requirements', 'mac_requirements',
       'linux_requirements', 'legal_notice', 'developers', 'publishers',
       'packages', 'package_groups', 'platforms', 'categories', 'genres',
       'screenshots', 'movies', 'release_date', 'support_info', 'background',
       'content_descriptors', 'num_reviews', 'review_score',
       'review_score_desc', 'total_positive', 'total_negative',
       'total_reviews', 'controller_support', 'dlc', 'demos',
       'recommendations', 'achievements', 'reviews', 'ext_user_account_notice',
       'metacritic', 'drm_notice', 'price_currency', 'price_initial',
       'price_final', 'price_discount_percent', 'price_recurring_sub',
       'price_sub_initial', 'price_sub_renewal_months', 'price_sub_monthly'],
      dtype='object')

In [8]:
# Create/connect to the database file
file_name = "Games.db"
conn = sqlite3.connect(os.path.join(data_database_dir, file_name))
c = conn.cursor()

In [9]:
os.path.relpath(data_database_dir, os.path.abspath("."))

'..\\..\\Data\\Database'

In [10]:
# Connecting to database:
%sql sqlite:///..\\..\\Data\\Database\\Games.db

'Connected: @..\\\\..\\\\Data\\\\Database\\\\Games.db'

In [11]:
%%sql
DROP Table Games;
DROP Table Genres;
DROP Table GamesGenresRelation;

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.
Done.
Done.

[]

In [12]:
# Create table for games
columns_games = {'steam_appid': 'INT',
          'name': 'VARCHAR',
          'total_reviews': 'INT',
          'total_positive': 'INT',
          'total_negative': 'INT',
          'price_initial': 'FLOAT'} 
table_name = "GAMES"

columns = columns_games
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS {table_name}(\n"
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"    {variable_name} {variable_type}"
    if(idx==0):
        sql_command += " NOT NULL PRIMARY KEY"
    if(idx!=len(columns)-1):
        sql_command += ","
    sql_command += "\n"
        
sql_command +=  ")"

create_table_sql = sql_command
print(create_table_sql)

CREATE TABLE IF NOT EXISTS GAMES(
    steam_appid INT NOT NULL PRIMARY KEY,
    name VARCHAR,
    total_reviews INT,
    total_positive INT,
    total_negative INT,
    price_initial FLOAT
)

In [13]:
c.execute(create_table_sql)

In [14]:
# Create table for genres
columns_genres = {'genre_id': 'INT',
          'genre': 'VARCHAR'} 
table_name = "GENRES"

columns = columns_genres
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS {table_name}(\n"
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"    {variable_name} {variable_type}"
    if(idx==0):
        sql_command += " NOT NULL PRIMARY KEY"
    if(idx!=len(columns)-1):
        sql_command += ","
    sql_command += "\n"
        
sql_command +=  ")"

create_table_sql = sql_command
print(create_table_sql)

CREATE TABLE IF NOT EXISTS GENRES(
    genre_id INT NOT NULL PRIMARY KEY,
    genre VARCHAR
)

In [15]:
c.execute(create_table_sql)

In [16]:
# Create table for games & genres relation 
columns_games_genres = {'steam_appid': 'INT',
          'genre_id': 'INT'} 

table_name = "GamesGenresRelation"
table_references_names = ["Games", "Genres"]
columns = columns_games_genres
sql_command = ""
sql_command +=  f"CREATE TABLE IF NOT EXISTS {table_name}(\n"
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"    {variable_name} {variable_type}"
    if(idx<2):
        sql_command += " NOT NULL"
    sql_command += ","
    sql_command += "\n"
for idx, variable_name in enumerate(columns.keys()):
    sql_command += f"    FOREIGN KEY ({variable_name}) references {table_references_names[idx]}({variable_name})"
    sql_command += ","
    sql_command += "\n"
sql_command += "    UNIQUE ("
for idx, variable_name in enumerate(columns.keys()):
    variable_type = columns[variable_name]
    sql_command += f"{variable_name}"
    if(idx<(len(columns)-1)):
        sql_command += ","
sql_command += ")"
sql_command += "\n"
sql_command +=  ")"

create_table_sql = sql_command
print(create_table_sql)

CREATE TABLE IF NOT EXISTS GamesGenresRelation(
    steam_appid INT NOT NULL,
    genre_id INT NOT NULL,
    FOREIGN KEY (steam_appid) references Games(steam_appid),
    FOREIGN KEY (genre_id) references Genres(genre_id),
    UNIQUE (steam_appid,genre_id)
)

In [17]:
c.execute(create_table_sql)

In [18]:
# Populate the table
columns = columns_games
table_name = "Games"

sql_command = ""
sql_command +=  f"INSERT INTO {table_name}("
for idx, variable_name in enumerate(columns.keys()):
    sql_command += variable_name
    if(idx!=len(columns)-1):
        sql_command += ","
sql_command += ")"
sql_command += "\n"
sql_command += "VALUES("
for idx, variable_name in enumerate(columns.keys()):
    sql_command +=  "?"
    if(idx<(len(columns)-1)):
        sql_command += ","
sql_command += ")"

insert_table_sql = sql_command
print(insert_table_sql)

INSERT INTO Games(steam_appid,name,total_reviews,total_positive,total_negative,price_initial)
VALUES(?,?,?,?,?,?)

In [19]:
# Generate list of tuples for the insert command
def create_tuple_list_from_df(row, column_list):
    vals = []
    for column in column_list:
        vals.append(row[column])
    vals = tuple(vals)
    return vals
        
column_list = ["steam_appid", "name", "total_reviews","total_positive","total_negative","price_initial"]
games_values_to_insert = list(df.apply(lambda x: create_tuple_list_from_df(x, column_list), axis=1).values)
games_values_to_insert

[(494990, 'Too Angry to Space', 16, 6, 10, 4.99),
 (1149930, "Tale's Casino Escape", 2, 2, 0, nan),
 (462770, 'Pyre', 4324, 3900, 424, 16.79),
 (1193660, 'Jack-O-Lantern Covers of Darkness', 3, 3, 0, 5.0),
 (440380, 'Super Kitty Boing Boing', 3, 3, 0, 4.99),
 (439880, 'Heroes of Loot 2', 10, 9, 1, 9.99),
 (468490, 'Neon Space', 117, 81, 36, 10.99),
 (1197590, 'Waifu Uncovered', 46, 38, 8, 3.99),
 (1175550, 'Merge Towers', 1, 0, 1, 3.29),
 (1133230, 'Little Awesome Dudes', 10, 4, 6, 5.69),
 (1145460, 'Memories on the Shoreline', 6, 3, 3, 3.99),
 (1144280, 'Ain Dodo', 48, 48, 0, 0.79),
 (431360, 'The Legend: A University Story', 5, 2, 3, nan),
 (470890, 'WarFire', 4, 0, 4, 15.99),
 (1133520, 'ICONIC', 2, 2, 0, 2.39),
 (463320, 'The Sea Eternal', 23, 10, 13, 4.99),
 (1115870, 'Inner Tao', 4, 4, 0, 2.39),
 (449040, 'Jesus Christ RPG Trilogy', 21, 18, 3, nan),
 (501310, 'Venture Forth', 5, 3, 2, 9.99),
 (476650, 'The Silver Case', 255, 215, 40, 19.99),
 (1146370, 'Master of Magic Classic', 287, 280, 7, 4.99),
 (499540, 'Wake Up', 2, 1, 1, nan),
 (1123190, '育种村', 2, 2, 0, 9.99),
 (474620, 'Giga Girl', 10, 9, 1, 1.99),
 (466130, 'White Day: A Labyrinth Named School', 162, 136, 26, 27.99),
 (502400, 'Redactem', 16, 10, 6, 0.99),
 (499100,
  "Dark Parables: The Exiled Prince Collector's Edition",
  38,
  33,
  5,
  9.99),
 (487590, 'Pepe Porcupine', 8, 7, 1, 0.79),
 (1142130, "They Can't Stop All Of Us", 1, 1, 0, nan),
 (1126340, 'Raid on Area 51', 4, 3, 1, 3.99),
 (1191610, 'Memory', 1, 1, 0, 12.49),
 (1161910, 'Exile Squadron', 4, 3, 1, 3.99),
 (1118070, '1976 - Back to midway', 53, 49, 4, 12.49),
 (1141300, 'Sloth Quest', 2, 2, 0, 3.99),
 (438490, 'GOD EATER 2 Rage Burst', 1525, 1313, 212, 49.99),
 (1137040, 'CAT & MOUSE', 3, 3, 0, 3.99),
 (1116290, 'Alien Escape', 14, 12, 2, 4.99),
 (1156810, 'Channel Player', 1, 0, 1, 3.99),
 (451900, 'WizardCraft', 19, 12, 7, 2.39),
 (1161570,
  "Dark Parables: Portrait of the Stained Princess Collector's Edition",
  14,
  11,
  3,
  8.19),
 (1141170, 'Risnuch', 1, 0, 1, nan),
 (500790, 'Moribund', 1, 1, 0, 9.99),
 (458990, 'Astral Domine', 19, 9, 10, 2.99),
 (505680, 'Glaive', 13, 10, 3, 0.99),
 (442500, 'Age of Gladiators', 409, 311, 98, 7.99),
 (1138800, "Dark Elf's Adventure", 1, 0, 1, 11.59),
 (494460, 'Dangerous Relationship', 42, 20, 22, 15.99),
 (479330, 'Crazy Stone Deep Learning -The First Edition-', 17, 12, 5, 73.99),
 (496250, 'Paddle Up', 159, 135, 24, 9.99),
 (1195920, 'Solar Panic: Utter Distress', 15, 12, 3, 14.99),
 (448540, 'Terror Lab', 32, 16, 16, 3.99),
 (1127850, 'Apple Slash', 85, 84, 1, 3.29),
 (427700, 'Zwei: The Ilvard Insurrection', 105, 99, 6, 19.99),
 (503550, 'DYE', 47, 36, 11, 4.99),
 (461760, 'Reptilian Rebellion', 9, 4, 5, 2.99),
 (1137730, 'Naughty Girl 2', 12, 8, 4, 0.79),
 (446870, 'Glitchrunners', 11, 3, 8, 12.99),
 (1125800, 'Endless Ski', 7, 7, 0, 0.79),
 (1156030, 'Spectating Simulator The Racing', 2, 0, 2, 0.79),
 (463470, 'Lithium: Inmate 39', 10, 7, 3, nan),
 (1137930, 'Second Dimension RetroPak Vol. 1', 1, 1, 0, 16.79),
 (1122210, 'Guns Craft', 1, 0, 1, 0.79),
 (1184820, 'Poker Quest', 100, 94, 6, 12.49),
 (1131270, 'Zombie Golf', 5, 3, 2, 0.79),
 (476000, 'Slightly Magic - 8bit Legacy Edition', 6, 6, 0, 5.99),
 (1148910, 'ShapeWorks', 15, 10, 5, 24.99),
 (1162560,
  'Ciconia When They Cry - Phase 1: For You, the Replaceable Ones',
  184,
  172,
  12,
  33.99),
 (449240, 'Stormworm+', 5, 5, 0, nan),
 (437210, 'The Hunt', 10, 7, 3, 9.99),
 (1186260, 'Bondage Girl', 17, 8, 9, 3.99),
 (449470, 'Atulos Online', 2, 2, 0, nan),
 (1135130, 'kamer', 7, 4, 3, 2.99),
 (447540, 'Lost Cosmonaut', 2, 0, 2, 6.99),
 (1147850, 'Brother Brother', 7, 7, 0, 1.59),
 (437090, 'Wobbly Jungle', 2, 1, 1, 1.99),
 (488890, 'GentleMoon 2', 22, 19, 3, 2.99),
 (1152050, 'Sword of the Slayer', 7, 4, 3, 3.99),
 (465920,
  "Echoes of the Past: The Revenge of the Witch Collector's Edition",
  4,
  4,
  0,
  6.99),
 (1133910, 'Caravan Chaos', 6, 6, 0, 9.99),
 (485230, 'HALP!', 2, 1, 1, nan),
 (1173310, 'Lab 7: Cold Nights', 12, 11, 1, 9.99),
 (1147030, 'The Terrible Old Man', 5, 3, 2, nan),
 (1155340, 'Rescue Team: Evil Genius', 3, 3, 0, 5.69),
 (1135380, '不可思议佣兵团', 1, 0, 1, 3.29),
 (1118350, 'Meegah Mem 2', 16, 13, 3, 3.99),
 (460160, 'The Leisure of Grisaia', 151, 137, 14, 2.99),
 (502880, 'The Janitor', 20, 4, 16, 0.99),
 (463290, 'Kismet', 100, 93, 7, 3.29),
 (482390, 'The Night Cafe: A VR Tribute to Vincent Van Gogh', 2, 2, 0, nan),
 (1190110, 'H-SNIPER: Middle East', 387, 355, 32, 0.79),
 (504400, 'Optika', 55, 42, 13, 4.99),
 (1128770, 'Use Your Brain!', 2, 2, 0, 1.59),
 (1140880, 'Only One Burn', 14, 11, 3, 3.99),
 (480900, 'Slap Village: Reality Slap', 28, 15, 13, 5.69),
 (705800, 'Astroe', 3, 2, 1, nan),
 (1147840, 'Hyper Storm', 2, 2, 0, 3.99),
 (506260, 'Cladun Returns: This Is Sengoku!', 20, 13, 7, 19.99),
 (1196440, 'Potion Party', 12, 12, 0, 9.99),
 (1136030, 'Apple Pop', 1, 0, 1, 3.99),
 (1126860, 'Nauseous Pines', 2, 2, 0, 3.99),
 (1197550, 'Ouction', 17, 4, 13, 6.59),
 (1158310, 'Crusader Kings III', 21793, 20411, 1382, 49.99),
 (1131790, "Injection π23 'No Name, No Number'", 3, 3, 0, 12.49),
 (1124830, 'Touhou Blooming Chaos', 13, 13, 0, 4.99),
 (1183720, 'Holoswitch', 84, 70, 14, 8.99),
 (1161680, 'Bomb Bowling 2', 1, 1, 0, 3.99),
 (1160800, 'Rainbow Robin', 2, 1, 1, 3.99),
 (462100, 'Starr Mazer: DSP', 166, 136, 30, 9.99),
 (1191900, 'Say No! More', 199, 187, 12, 14.99),
 (432980, 'INVERSUS Deluxe', 96, 89, 7, 14.99),
 (1145810, 'Desert lost', 8, 6, 2, 0.79),
 (1148710, 'Miriel Saga', 1, 1, 0, 12.49),
 (492490, 'Zombie Apocalypse: Escape The Undead City', 27, 10, 17, 1.59),
 (460640, 'Breached', 44, 22, 22, 5.69),
 (496300, 'Kingdom: New Lands', 3026, 2631, 395, 14.99),
 (1174890, 'No Offence, But', 1, 0, 1, 3.99),
 (479200, 'Champions of Odin', 2, 1, 1, 12.49),
 (468070, '90 Minute Fever - Football (Soccer) Manager MMO', 68, 42, 26, nan),
 (504420, 'Malazard: Magic Defense', 17, 13, 4, 1.59),
 (460940, 'Father´s Island', 22, 13, 9, 4.49),
 (1174980, 'Mazetools Mutant', 2, 2, 0, 4.99),
 (473050, 'UnderWater Adventure', 1, 0, 1, nan),
 (496380, 'A Verdant Hue', 4, 2, 2, 14.99),
 (497040, 'Underground Keeper', 14, 9, 5, 8.19),
 (1151650, 'Shard', 3, 3, 0, 2.49),
 (495720, 'Intrude', 112, 95, 17, 3.99),
 (496620, 'Monster Slayers', 511, 413, 98, 5.99),
 (434880, 'Hieroglyphika', 59, 38, 21, 9.99),
 (454250, 'The Eyes of Ara', 277, 232, 45, 12.49),
 (1193300, 'Axe Cop', 7, 7, 0, 8.19),
 (431740, 'Chowderchu', 2, 1, 1, 2.39),
 (422010, 'Eczema Angel Orifice', 3, 3, 0, 3.99),
 (467430, 'Farming 6-in-1 bundle', 21, 15, 6, 5.99),
 (463440, 'Retool', 1, 0, 1, 7.99),
 (1158010, 'UnHolY ToRturEr', 26, 19, 7, 13.29),
 (422610, '1775: Rebellion', 28, 20, 8, 22.99),
 (706440, 'Cyborg Arena', 15, 9, 6, 4.99),
 (498450, 'A Week of Circus Terror', 5, 3, 2, 4.99),
 (497310, 'PD Particles 9', 4, 3, 1, 3.99),
 (452320, 'Party Saboteurs: After Party', 12, 9, 3, 9.99),
 (445310, 'Might and Magic: Heroes VII – Trial by Fire', 337, 198, 139, 29.99),
 (475630, 'Crush Online', 22, 14, 8, nan),
 (456760, 'A dragon girl looks up at the endless sky', 17, 14, 3, 9.99),
 (466270, 'Half-Life: A Place in the West', 24, 21, 3, nan),
 (1172050, 'COCKHEAD', 384, 272, 112, 5.69),
 (1125350, 'Geocells Quadcells', 3, 3, 0, 6.59),
 (1187600, 'Wicked Willow', 27, 23, 4, 16.79),
 (451540, 'Snakes on an Extradimensional Plane', 2, 2, 0, 2.99),
 (464470, 'BloodGate', 162, 73, 89, nan),
 (1127450, 'Lewd & Nude | Anime Collector', 59, 50, 9, nan),
 (1149190, 'Errant Heart', 1, 0, 1, 3.29),
 (1165460, 'Unlit', 1, 0, 1, 9.99),
 (1132730, '巅峰骑士团', 8, 7, 1, 7.39),
 (456450, 'Jaunt VR - Experience Cinematic Virtual Reality', 3, 0, 3, nan),
 (1146300, 'Land of War - The Beginning', 80, 39, 41, 14.99),
 (1179340, 'Kōmori Fruit Rush', 1, 1, 0, 3.99),
 (466050,
  "Redemption Cemetery: Salvation of the Lost Collector's Edition",
  9,
  9,
  0,
  9.99),
 (455490, "Don't Die Dateless, Dummy!", 47, 31, 16, 2.99),
 (491520, 'Zero-G VR', 50, 19, 31, 4.99),
 (466040, 'Pet Store Panic', 2, 2, 0, 6.99),
 (486810, 'House of Snark 6-in-1 Bundle', 41, 33, 8, 11.99),
 (503960, 'Will of the Gods', 19, 14, 5, 2.99),
 (1119500, 'FIGHT BALL - BOXING VR', 1, 0, 1, 3.99),
 (469790, 'Linelight', 224, 219, 5, 8.19),
 (1140790, 'Kung Fu Jesus', 3, 2, 1, 12.49),
 (1196380, 'Automaton', 3, 1, 2, 4.99),
 (1136880, 'Baby Walking Simulator', 17, 17, 0, 1.0),
 (496980, 'Cosmic Cavern 3671\u3000\u3000宇宙最大の地底最大の作戦', 8, 4, 4, 4.99),
 (463710, 'Puzzle Galaxies', 14, 4, 10, 0.79),
 (1154700,
  'The diary of the cheating young married woman, Yuka.',
  9,
  7,
  2,
  3.29),
 (463860, 'Shadows of Kurgansk', 53, 25, 28, 5.99),
 (464630, 'Secret Of The Royal Throne', 5, 0, 5, 6.99),
 (428240, 'Hauntsters', 2, 2, 0, 4.99),
 (1143390, 'Ichor', 3, 3, 0, 3.29),
 (423890, 'Gods and Idols', 19, 11, 8, nan),
 (1150310, "Let's Go! Skiing VR", 1, 0, 1, 2.39),
 (436500, 'Diaries of a Spaceport Janitor', 420, 327, 93, 9.99),
 (486140, '9Grids VR', 3, 2, 1, 1.99),
 (504450, 'StarSmashers', 8, 3, 5, 7.99),
 (467270, 'Weaves of Fate', 40, 30, 10, 3.29),
 (1198390, 'Kawaii Girl', 6, 4, 2, 0.79),
 (433570, 'Side Quest', 4, 1, 3, 6.99),
 (438090, 'Defend Felinearth', 3, 0, 3, 1.99),
 (1125770, 'Monoa City Parking', 1, 0, 1, 0.79),
 (1197020, 'Tale of the Gallant Jiraiya', 1, 1, 0, 8.99),
 (1115650, 'Blind Date 3D', 18, 9, 9, 8.19),
 (494380, 'VR Boxing Workout', 7, 1, 6, 4.99),
 (1138580,
  'Farmington County: The Ultimate Farming Tycoon Simulator',
  78,
  70,
  8,
  12.49),
 (1175430, 'Project Starship X', 31, 31, 0, 12.99),
 (1176040,
  'I Have Low Stats But My Class Is "Leader", So I Recruited Everyone I Know To Fight The Dark Lord',
  3,
  2,
  1,
  12.49),
 (1175650, 'UpMove', 2, 2, 0, 3.99),
 (1187840, 'Vesper', 4, 4, 0, 19.99),
 (463350, 'Storm Of Spears RPG', 226, 160, 66, 0.9),
 (1150610, 'City Gangs San Andreas', 2, 2, 0, 1.59),
 (460140, 'Midnight at the Celestial Palace: Part I', 20, 19, 1, 3.99),
 (1198450,
  'The Secret Order 8: Return to the Buried Kingdom',
  30,
  25,
  5,
  14.99),
 (1152090, 'Elmarion: Dragon time', 187, 139, 48, 8.99),
 (436320, 'Raw Data', 1625, 1346, 279, 36.99),
 (1120810, 'Eastern Exorcist', 166, 153, 13, 13.99),
 (477800, 'Piñata', 1, 0, 1, nan),
 (1157120, 'Zombie Season', 1, 0, 1, nan),
 (464700, 'Maui', 5, 2, 3, nan),
 (1148740, 'Far From Orbit', 1, 1, 0, 0.79),
 (474830, 'Time in Time', 16, 12, 4, 1.99),
 (429520, 'Falcon Gold', 5, 4, 1, 6.99),
 (1120280, 'Treasure Fleet', 8, 6, 2, 8.19),
 (1118380, 'Discord Bot Studio', 102, 81, 21, 8.99),
 (1135090, 'dino game', 15, 14, 1, 2.99),
 (1146970, 'My Vow to My Liege', 117, 111, 6, 8.19),
 (1167380, 'Neither Day nor Night', 2, 1, 1, 10.79),
 (1152480, 'Death To The Dragon Lord', 1, 1, 0, 3.29),
 (705290, 'Strange Telephone', 121, 99, 22, 4.99),
 (1153890, 'Trailing Girl', 7, 1, 6, 5.69),
 (477770, 'Ride 2', 693, 575, 118, 29.99),
 (473840, "Diib's Dilemma", 14, 12, 2, 1.99),
 (1188290, 'Cover Your Eyes', 1, 0, 1, 8.99),
 (495680, 'Overdriven Reloaded', 11, 8, 3, 7.99),
 (1180540, 'Puddle Knights', 60, 59, 1, 8.19),
 (1192610, 'ANIME REDEMPTION', 162, 132, 30, 1.99),
 (446110, 'Happy Critters', 1, 1, 0, 6.99),
 (496810,
  'MegaTagmension Blanc + Neptune VS Zombies (Neptunia)',
  488,
  413,
  75,
  12.49),
 (1141220, 'DemonCrawl', 662, 542, 120, 12.49),
 (455290, 'Dashing Dinos', 2, 2, 0, 9.99),
 (478980, 'Mansions of Madness', 8, 7, 1, nan),
 (460250, '🔴 Circles', 26, 24, 2, 7.99),
 (461850, 'Abrix 2 - Diamond version', 4, 3, 1, 1.59),
 (506470, 'Quip Anomaly', 4, 3, 1, 1.99),
 (505630, 'Let Them Come', 356, 312, 44, 7.99),
 (424040, 'Fragmental', 15, 12, 3, 3.99),
 (1198740, 'Colony Siege', 78, 72, 6, 12.49),
 (497000, 'Cross Death  VR', 5, 2, 3, 9.99)]

In [20]:
c.executemany(insert_table_sql, games_values_to_insert)

In [21]:
# Populate the table
columns = columns_genres
table_name = "Genres"

sql_command = ""
sql_command +=  f"INSERT INTO {table_name}("
for idx, variable_name in enumerate(columns.keys()):
    sql_command += variable_name
    if(idx!=len(columns)-1):
        sql_command += ","
sql_command += ")"
sql_command += "\n"
sql_command += "VALUES("
for idx, variable_name in enumerate(columns.keys()):
    sql_command +=  "?"
    if(idx<(len(columns)-1)):
        sql_command += ","
sql_command += ")"

insert_table_sql = sql_command
print(insert_table_sql)

INSERT INTO Genres(genre_id,genre)
VALUES(?,?)

In [22]:
df_genres

    genre_id                  genre
0         25              Adventure
1          1                 Action
2         23                  Indie
3          4                 Casual
4          3                    RPG
5         28             Simulation
6          2               Strategy
7         70           Early Access
8         18                 Sports
9         29  Massively Multiplayer
10         9                 Racing
11        51   Animation & Modeling
12        53  Design & Illustration
13        54              Education
14        56      Software Training
15        57              Utilities
16        59         Web Publishing
17        60       Game Development
18        37           Free to Play
19        55          Photo Editing
20        58       Video Production
21        50             Accounting
22        52       Audio Production
23        71         Sexual Content
24        73                Violent
25        74                   Gore
26        72                 Nudity
27        80                  Movie

In [23]:
column_list = ["genre_id", "genre"]
genres_values_to_insert = list(df_genres.apply(lambda x: create_tuple_list_from_df(x, column_list), axis=1).values)
genres_values_to_insert

[(25, 'Adventure'),
 (1, 'Action'),
 (23, 'Indie'),
 (4, 'Casual'),
 (3, 'RPG'),
 (28, 'Simulation'),
 (2, 'Strategy'),
 (70, 'Early Access'),
 (18, 'Sports'),
 (29, 'Massively Multiplayer'),
 (9, 'Racing'),
 (51, 'Animation & Modeling'),
 (53, 'Design & Illustration'),
 (54, 'Education'),
 (56, 'Software Training'),
 (57, 'Utilities'),
 (59, 'Web Publishing'),
 (60, 'Game Development'),
 (37, 'Free to Play'),
 (55, 'Photo Editing'),
 (58, 'Video Production'),
 (50, 'Accounting'),
 (52, 'Audio Production'),
 (71, 'Sexual Content'),
 (73, 'Violent'),
 (74, 'Gore'),
 (72, 'Nudity'),
 (80, 'Movie')]

In [24]:
c.executemany(insert_table_sql, genres_values_to_insert)

In [25]:
# Populate the table
columns = columns_games_genres
table_name = "GamesGenresRelation"

sql_command = ""
sql_command +=  f"INSERT INTO {table_name}("
for idx, variable_name in enumerate(columns.keys()):
    sql_command += variable_name
    if(idx!=len(columns)-1):
        sql_command += ","
sql_command += ")"
sql_command += "\n"
sql_command += "VALUES("
for idx, variable_name in enumerate(columns.keys()):
    sql_command +=  "?"
    if(idx<(len(columns)-1)):
        sql_command += ","
sql_command += ")"

insert_table_sql = sql_command
print(insert_table_sql)

INSERT INTO GamesGenresRelation(steam_appid,genre_id)
VALUES(?,?)

In [26]:
# Generate list of tuples for the insert command
def create_tuple_list_mn_from_df(row, column_list):
    vals = []
    val_1 = row[column_list[0]]
    for val_2 in row[column_list[1]]:
        vals.append([val_1, val_2])
    return vals
        
column_list = ["steam_appid", "genres"]
games_genres_values_to_insert = list(df.apply(lambda x: create_tuple_list_mn_from_df(x, column_list), axis=1).values)
games_genres_values_to_insert = [tuple(y) for x in games_genres_values_to_insert for y in x ]
games_genres_values_to_insert

[(494990, 1),
 (494990, 4),
 (494990, 23),
 (1149930, 1),
 (1149930, 25),
 (1149930, 23),
 (1149930, 3),
 (1149930, 2),
 (462770, 1),
 (462770, 23),
 (462770, 3),
 (1193660, 25),
 (1193660, 4),
 (440380, 1),
 (440380, 23),
 (439880, 25),
 (468490, 1),
 (468490, 25),
 (468490, 4),
 (468490, 23),
 (468490, 2),
 (1197590, 1),
 (1197590, 4),
 (1197590, 23),
 (1175550, 4),
 (1175550, 2),
 (1133230, 23),
 (1133230, 28),
 (1133230, 2),
 (1145460, 4),
 (1145460, 23),
 (1145460, 3),
 (1145460, 28),
 (1144280, 1),
 (1144280, 4),
 (1144280, 23),
 (431360, 1),
 (431360, 25),
 (431360, 23),
 (431360, 70),
 (470890, 1),
 (470890, 23),
 (1133520, 1),
 (1133520, 25),
 (1133520, 4),
 (1133520, 23),
 (1133520, 70),
 (463320, 25),
 (463320, 23),
 (463320, 3),
 (1115870, 23),
 (449040, 37),
 (449040, 3),
 (501310, 1),
 (501310, 25),
 (501310, 23),
 (501310, 3),
 (476650, 25),
 (1146370, 2),
 (499540, 25),
 (499540, 23),
 (1123190, 25),
 (1123190, 4),
 (474620, 1),
 (474620, 23),
 (466130, 1),
 (466130, 25),
 (466130, 23),
 (502400, 1),
 (502400, 4),
 (502400, 23),
 (502400, 2),
 (499100, 25),
 (499100, 4),
 (487590, 4),
 (1142130, 1),
 (1142130, 37),
 (1142130, 23),
 (1142130, 2),
 (1126340, 23),
 (1126340, 70),
 (1191610, 23),
 (1161910, 1),
 (1118070, 1),
 (1118070, 23),
 (1118070, 28),
 (1141300, 1),
 (1141300, 23),
 (1141300, 28),
 (438490, 1),
 (438490, 3),
 (1137040, 1),
 (1137040, 4),
 (1137040, 23),
 (1137040, 28),
 (1137040, 70),
 (1116290, 25),
 (1116290, 23),
 (1156810, 57),
 (451900, 23),
 (451900, 3),
 (451900, 2),
 (1161570, 25),
 (1161570, 4),
 (1141170, 1),
 (1141170, 25),
 (1141170, 4),
 (1141170, 23),
 (1141170, 3),
 (1141170, 28),
 (1141170, 70),
 (500790, 1),
 (500790, 23),
 (458990, 25),
 (458990, 23),
 (505680, 73),
 (505680, 74),
 (505680, 1),
 (505680, 23),
 (442500, 4),
 (442500, 23),
 (442500, 3),
 (442500, 28),
 (442500, 18),
 (442500, 2),
 (1138800, 23),
 (1138800, 3),
 (494460, 25),
 (479330, 4),
 (479330, 2),
 (496250, 23),
 (496250, 18),
 (496250, 70),
 (1195920, 25),
 (1195920, 23),
 (448540, 25),
 (448540, 23),
 (1127850, 1),
 (1127850, 25),
 (1127850, 23),
 (1127850, 3),
 (427700, 1),
 (427700, 3),
 (503550, 1),
 (503550, 25),
 (503550, 23),
 (461760, 1),
 (461760, 4),
 (461760, 23),
 (1137730, 4),
 (1137730, 23),
 (446870, 1),
 (446870, 23),
 (1125800, 4),
 (1156030, 28),
 (463470, 1),
 (463470, 25),
 (463470, 23),
 (463470, 2),
 (1137930, 1),
 (1137930, 25),
 (1137930, 4),
 (1137930, 23),
 (1137930, 2),
 (1122210, 1),
 (1122210, 25),
 (1122210, 4),
 (1122210, 23),
 (1122210, 3),
 (1122210, 28),
 (1122210, 18),
 (1122210, 2),
 (1184820, 25),
 (1184820, 23),
 (1184820, 3),
 (1184820, 2),
 (1184820, 70),
 (1131270, 25),
 (1131270, 23),
 (1131270, 18),
 (1131270, 2),
 (1131270, 70),
 (476000, 23),
 (1148910, 51),
 (1148910, 53),
 (1148910, 54),
 (1148910, 56),
 (1148910, 57),
 (1148910, 58),
 (1148910, 59),
 (1148910, 60),
 (1162560, 25),
 (449240, 23),
 (437210, 28),
 (437210, 18),
 (1186260, 23),
 (1186260, 3),
 (1186260, 28),
 (449470, 25),
 (449470, 37),
 (449470, 29),
 (449470, 3),
 (1135130, 23),
 (447540, 1),
 (447540, 23),
 (1147850, 1),
 (1147850, 25),
 (1147850, 4),
 (1147850, 23),
 (1147850, 3),
 (437090, 23),
 (488890, 1),
 (488890, 23),
 (1152050, 25),
 (1152050, 23),
 (1152050, 3),
 (465920, 25),
 (465920, 4),
 (1133910, 1),
 (1133910, 4),
 (1133910, 23),
 (1133910, 9),
 (485230, 4),
 (485230, 23),
 (1173310, 1),
 (1173310, 25),
 (1173310, 4),
 (1173310, 23),
 (1173310, 2),
 (1147030, 25),
 (1147030, 37),
 (1155340, 25),
 (1155340, 4),
 (1155340, 23),
 (1135380, 23),
 (1118350, 1),
 (1118350, 23),
 (460160, 25),
 (460160, 4),
 (502880, 1),
 (502880, 23),
 (463290, 4),
 (463290, 23),
 (482390, 4),
 (482390, 23),
 (1190110, 1),
 (1190110, 25),
 (1190110, 23),
 (1190110, 3),
 (1190110, 28),
 (1190110, 2),
 (504400, 25),
 (504400, 4),
 (504400, 23),
 (1128770, 4),
 (1128770, 23),
 (1128770, 2),
 (1140880, 4),
 (1140880, 23),
 (1140880, 28),
 (480900, 25),
 (480900, 23),
 (705800, 1),
 (705800, 23),
 (1147840, 1),
 (1147840, 23),
 (506260, 1),
 (506260, 3),
 (1196440, 4),
 (1196440, 23),
 (1136030, 4),
 (1136030, 23),
 (1136030, 18),
 (1136030, 2),
 (1126860, 25),
 (1126860, 23),
 (1126860, 28),
 (1126860, 2),
 (1197550, 28),
 (1158310, 3),
 (1158310, 28),
 (1158310, 2),
 (1131790, 1),
 (1131790, 25),
 (1131790, 23),
 (1131790, 2),
 (1124830, 1),
 (1124830, 23),
 (1124830, 3),
 (1183720, 57),
 (1161680, 23),
 (1160800, 1),
 (1160800, 23),
 (462100, 1),
 (462100, 23),
 (462100, 70),
 (1191900, 4),
 (1191900, 23),
 (432980, 1),
 (432980, 4),
 (432980, 23),
 (432980, 2),
 (1145810, 1),
 (1145810, 25),
 (1145810, 23),
 (1148710, 25),
 (1148710, 23),
 (1148710, 3),
 (492490, 1),
 (492490, 23),
 (460640, 25),
 (460640, 23),
 (496300, 23),
 (496300, 28),
 (496300, 2),
 (1174890, 23),
 (1174890, 2),
 (1174890, 70),
 (479200, 1),
 (479200, 25),
 (479200, 23),
 (479200, 3),
 (479200, 70),
 (468070, 29),
 (468070, 28),
 (468070, 18),
 (468070, 70),
 (504420, 1),
 (504420, 23),
 (460940, 25),
 (460940, 23),
 (1174980, 52),
 (1174980, 53),
 (1174980, 57),
 (473050, 1),
 (473050, 25),
 (473050, 23),
 (496380, 4),
 (496380, 23),
 (496380, 28),
 (497040, 4),
 (497040, 23),
 (1151650, 4),
 (1151650, 23),
 (495720, 1),
 (495720, 23),
 (496620, 1),
 (496620, 23),
 (434880, 3),
 (434880, 2),
 (454250, 25),
 (454250, 23),
 (1193300, 1),
 (1193300, 25),
 (1193300, 23),
 (1193300, 3),
 (1193300, 2),
 (431740, 1),
 (431740, 25),
 (431740, 23),
 (422010, 25),
 (422010, 23),
 (467430, 4),
 (463440, 1),
 (463440, 23),
 (463440, 2),
 (1158010, 23),
 (1158010, 28),
 (422610, 2),
 (706440, 1),
 (706440, 25),
 (706440, 4),
 (706440, 23),
 (706440, 9),
 (706440, 28),
 (498450, 23),
 (497310, 53),
 (497310, 54),
 (497310, 55),
 (497310, 56),
 (452320, 23),
 (452320, 2),
 (445310, 3),
 (445310, 2),
 (475630, 1),
 (475630, 37),
 (475630, 29),
 (475630, 2),
 (456760, 1),
 (456760, 3),
 (466270, 23),
 (1172050, 1),
 (1172050, 25),
 (1172050, 4),
 (1172050, 23),
 (1172050, 28),
 (1172050, 18),
 (1125350, 4),
 (1125350, 23),
 (1125350, 2),
 (1187600, 23),
 (451540, 1),
 (451540, 23),
 (464470, 1),
 (464470, 25),
 (464470, 23),
 (464470, 3),
 (464470, 70),
 (1127450, 4),
 (1127450, 23),
 (1127450, 28),
 (1149190, 25),
 (1149190, 23),
 (1165460, 25),
 (1165460, 4),
 (1165460, 23),
 (1165460, 70),
 (1132730, 1),
 (1132730, 25),
 (1132730, 3),
 (1132730, 2),
 (456450, 57),
 (1146300, 1),
 (1146300, 25),
 (1179340, 1),
 (1179340, 4),
 (1179340, 23),
 (466050, 25),
 (466050, 4),
 (455490, 25),
 (455490, 23),
 (455490, 28),
 (491520, 25),
 (491520, 4),
 (491520, 23),
 (491520, 9),
 (491520, 28),
 (491520, 18),
 (466040, 4),
 (466040, 2),
 (486810, 25),
 (486810, 4),
 (503960, 4),
 (503960, 23),
 (503960, 2),
 (1119500, 1),
 (1119500, 23),
 (1119500, 18),
 (469790, 1),
 (469790, 25),
 (469790, 4),
 (469790, 23),
 (1140790, 1),
 (1140790, 25),
 (1140790, 23),
 (1140790, 3),
 (1196380, 25),
 (1196380, 23),
 (1136880, 4),
 (1136880, 23),
 (1136880, 28),
 (1136880, 18),
 (496980, 1),
 (496980, 4),
 (496980, 23),
 (496980, 2),
 (463710, 4),
 (463710, 23),
 (1154700, 3),
 (463860, 1),
 (463860, 25),
 (463860, 23),
 (463860, 3),
 (463860, 28),
 (464630, 4),
 (428240, 1),
 (428240, 23),
 (1143390, 1),
 (1143390, 23),
 (1143390, 2),
 (423890, 37),
 (423890, 29),
 (423890, 3),
 (423890, 2),
 (423890, 70),
 (1150310, 4),
 (1150310, 23),
 (1150310, 18),
 (436500, 25),
 (436500, 4),
 (436500, 23),
 (436500, 3),
 (436500, 28),
 (486140, 1),
 (486140, 4),
 (486140, 23),
 (504450, 1),
 (504450, 25),
 (504450, 23),
 (504450, 2),
 (467270, 1),
 (467270, 23),
 (467270, 3),
 (467270, 2),
 (1198390, 25),
 (1198390, 4),
 (1198390, 23),
 (433570, 1),
 (433570, 25),
 (433570, 23),
 (438090, 1),
 (438090, 4),
 (438090, 23),
 (1125770, 23),
 (1125770, 28),
 (1197020, 1),
 (1197020, 25),
 (1197020, 4),
 (1197020, 23),
 (1115650, 25),
 (1115650, 23),
 (1115650, 28),
 (494380, 28),
 (494380, 18),
 (1138580, 23),
 (1138580, 28),
 (1138580, 2),
 (1138580, 70),
 (1175430, 1),
 (1175430, 25),
 (1175430, 4),
 (1175430, 23),
 (1176040, 23),
 (1176040, 3),
 (1175650, 1),
 (1175650, 25),
 (1175650, 23),
 (1175650, 9),
 (1187840, 1),
 (1187840, 25),
 (1187840, 23),
 (463350, 1),
 (463350, 25),
 (463350, 23),
 (463350, 3),
 (1150610, 1),
 (1150610, 25),
 (1150610, 4),
 (1150610, 23),
 (1150610, 28),
 (460140, 25),
 (460140, 23),
 (1198450, 25),
 (1198450, 4),
 (1152090, 1),
 (1152090, 25),
 (1152090, 23),
 (1152090, 3),
 (1152090, 28),
 (1152090, 70),
 (436320, 1),
 (436320, 23),
 (436320, 2),
 (1120810, 1),
 (1120810, 25),
 (1120810, 3),
 (477800, 4),
 (477800, 37),
 (477800, 23),
 (477800, 28),
 (1157120, 1),
 (1157120, 4),
 (1157120, 23),
 (1157120, 70),
 (464700, 1),
 (464700, 25),
 (464700, 4),
 (464700, 37),
 (464700, 23),
 (1148740, 1),
 (1148740, 23),
 (474830, 4),
 (474830, 23),
 (474830, 2),
 (429520, 28),
 (1120280, 23),
 (1120280, 2),
 (1118380, 57),
 (1135090, 25),
 (1135090, 23),
 (1146970, 4),
 (1146970, 23),
 (1167380, 1),
 (1167380, 25),
 (1167380, 23),
 (1152480, 3),
 (705290, 25),
 (705290, 4),
 (705290, 23),
 (1153890, 4),
 (1153890, 3),
 (477770, 9),
 (477770, 28),
 (477770, 18),
 (473840, 1),
 (473840, 25),
 (473840, 23),
 (473840, 3),
 (1188290, 1),
 (1188290, 25),
 (1188290, 23),
 (1188290, 28),
 (495680, 1),
 (495680, 23),
 (1180540, 4),
 (1180540, 23),
 (1180540, 2),
 (1192610, 1),
 (1192610, 25),
 (1192610, 23),
 (1192610, 3),
 (1192610, 28),
 (446110, 4),
 (496810, 1),
 (1141220, 25),
 (1141220, 23),
 (1141220, 3),
 (1141220, 2),
 (455290, 1),
 (455290, 4),
 (455290, 23),
 (478980, 25),
 (478980, 2),
 (460250, 4),
 (460250, 23),
 (461850, 4),
 (461850, 23),
 (461850, 2),
 (506470, 1),
 (506470, 23),
 (505630, 1),
 (505630, 23),
 (424040, 1),
 (424040, 23),
 (1198740, 28),
 (1198740, 2),
 (497000, 1),
 (497000, 25),
 (497000, 23),
 (497000, 2)]

In [27]:
c.executemany(insert_table_sql, games_genres_values_to_insert)

In [28]:
conn.commit()

In [29]:
%%sql
SELECT * FROM Games

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.

[(494990, 'Too Angry to Space', 16, 6, 10, 4.99),
 (1149930, "Tale's Casino Escape", 2, 2, 0, None),
 (462770, 'Pyre', 4324, 3900, 424, 16.79),
 (1193660, 'Jack-O-Lantern Covers of Darkness', 3, 3, 0, 5.0),
 (440380, 'Super Kitty Boing Boing', 3, 3, 0, 4.99),
 (439880, 'Heroes of Loot 2', 10, 9, 1, 9.99),
 (468490, 'Neon Space', 117, 81, 36, 10.99),
 (1197590, 'Waifu Uncovered', 46, 38, 8, 3.99),
 (1175550, 'Merge Towers', 1, 0, 1, 3.29),
 (1133230, 'Little Awesome Dudes', 10, 4, 6, 5.69),
 (1145460, 'Memories on the Shoreline', 6, 3, 3, 3.99),
 (1144280, 'Ain Dodo', 48, 48, 0, 0.79),
 (431360, 'The Legend: A University Story', 5, 2, 3, None),
 (470890, 'WarFire', 4, 0, 4, 15.99),
 (1133520, 'ICONIC', 2, 2, 0, 2.39),
 (463320, 'The Sea Eternal', 23, 10, 13, 4.99),
 (1115870, 'Inner Tao', 4, 4, 0, 2.39),
 (449040, 'Jesus Christ RPG Trilogy', 21, 18, 3, None),
 (501310, 'Venture Forth', 5, 3, 2, 9.99),
 (476650, 'The Silver Case', 255, 215, 40, 19.99),
 (1146370, 'Master of Magic Classic', 287, 280, 7, 4.99),
 (499540, 'Wake Up', 2, 1, 1, None),
 (1123190, '育种村', 2, 2, 0, 9.99),
 (474620, 'Giga Girl', 10, 9, 1, 1.99),
 (466130, 'White Day: A Labyrinth Named School', 162, 136, 26, 27.99),
 (502400, 'Redactem', 16, 10, 6, 0.99),
 (499100, "Dark Parables: The Exiled Prince Collector's Edition", 38, 33, 5, 9.99),
 (487590, 'Pepe Porcupine', 8, 7, 1, 0.79),
 (1142130, "They Can't Stop All Of Us", 1, 1, 0, None),
 (1126340, 'Raid on Area 51', 4, 3, 1, 3.99),
 (1191610, 'Memory', 1, 1, 0, 12.49),
 (1161910, 'Exile Squadron', 4, 3, 1, 3.99),
 (1118070, '1976 - Back to midway', 53, 49, 4, 12.49),
 (1141300, 'Sloth Quest', 2, 2, 0, 3.99),
 (438490, 'GOD EATER 2 Rage Burst', 1525, 1313, 212, 49.99),
 (1137040, 'CAT & MOUSE', 3, 3, 0, 3.99),
 (1116290, 'Alien Escape', 14, 12, 2, 4.99),
 (1156810, 'Channel Player', 1, 0, 1, 3.99),
 (451900, 'WizardCraft', 19, 12, 7, 2.39),
 (1161570, "Dark Parables: Portrait of the Stained Princess Collector's Edition", 14, 11, 3, 8.19),
 (1141170, 'Risnuch', 1, 0, 1, None),
 (500790, 'Moribund', 1, 1, 0, 9.99),
 (458990, 'Astral Domine', 19, 9, 10, 2.99),
 (505680, 'Glaive', 13, 10, 3, 0.99),
 (442500, 'Age of Gladiators', 409, 311, 98, 7.99),
 (1138800, "Dark Elf's Adventure", 1, 0, 1, 11.59),
 (494460, 'Dangerous Relationship', 42, 20, 22, 15.99),
 (479330, 'Crazy Stone Deep Learning -The First Edition-', 17, 12, 5, 73.99),
 (496250, 'Paddle Up', 159, 135, 24, 9.99),
 (1195920, 'Solar Panic: Utter Distress', 15, 12, 3, 14.99),
 (448540, 'Terror Lab', 32, 16, 16, 3.99),
 (1127850, 'Apple Slash', 85, 84, 1, 3.29),
 (427700, 'Zwei: The Ilvard Insurrection', 105, 99, 6, 19.99),
 (503550, 'DYE', 47, 36, 11, 4.99),
 (461760, 'Reptilian Rebellion', 9, 4, 5, 2.99),
 (1137730, 'Naughty Girl 2', 12, 8, 4, 0.79),
 (446870, 'Glitchrunners', 11, 3, 8, 12.99),
 (1125800, 'Endless Ski', 7, 7, 0, 0.79),
 (1156030, 'Spectating Simulator The Racing', 2, 0, 2, 0.79),
 (463470, 'Lithium: Inmate 39', 10, 7, 3, None),
 (1137930, 'Second Dimension RetroPak Vol. 1', 1, 1, 0, 16.79),
 (1122210, 'Guns Craft', 1, 0, 1, 0.79),
 (1184820, 'Poker Quest', 100, 94, 6, 12.49),
 (1131270, 'Zombie Golf', 5, 3, 2, 0.79),
 (476000, 'Slightly Magic - 8bit Legacy Edition', 6, 6, 0, 5.99),
 (1148910, 'ShapeWorks', 15, 10, 5, 24.99),
 (1162560, 'Ciconia When They Cry - Phase 1: For You, the Replaceable Ones', 184, 172, 12, 33.99),
 (449240, 'Stormworm+', 5, 5, 0, None),
 (437210, 'The Hunt', 10, 7, 3, 9.99),
 (1186260, 'Bondage Girl', 17, 8, 9, 3.99),
 (449470, 'Atulos Online', 2, 2, 0, None),
 (1135130, 'kamer', 7, 4, 3, 2.99),
 (447540, 'Lost Cosmonaut', 2, 0, 2, 6.99),
 (1147850, 'Brother Brother', 7, 7, 0, 1.59),
 (437090, 'Wobbly Jungle', 2, 1, 1, 1.99),
 (488890, 'GentleMoon 2', 22, 19, 3, 2.99),
 (1152050, 'Sword of the Slayer', 7, 4, 3, 3.99),
 (465920, "Echoes of the Past: The Revenge of the Witch Collector's Edition", 4, 4, 0, 6.99),
 (1133910, 'Caravan Chaos', 6, 6, 0, 9.99),
 (485230, 'HALP!', 2, 1, 1, None),
 (1173310, 'Lab 7: Cold Nights', 12, 11, 1, 9.99),
 (1147030, 'The Terrible Old Man', 5, 3, 2, None),
 (1155340, 'Rescue Team: Evil Genius', 3, 3, 0, 5.69),
 (1135380, '不可思议佣兵团', 1, 0, 1, 3.29),
 (1118350, 'Meegah Mem 2', 16, 13, 3, 3.99),
 (460160, 'The Leisure of Grisaia', 151, 137, 14, 2.99),
 (502880, 'The Janitor', 20, 4, 16, 0.99),
 (463290, 'Kismet', 100, 93, 7, 3.29),
 (482390, 'The Night Cafe: A VR Tribute to Vincent Van Gogh', 2, 2, 0, None),
 (1190110, 'H-SNIPER: Middle East', 387, 355, 32, 0.79),
 (504400, 'Optika', 55, 42, 13, 4.99),
 (1128770, 'Use Your Brain!', 2, 2, 0, 1.59),
 (1140880, 'Only One Burn', 14, 11, 3, 3.99),
 (480900, 'Slap Village: Reality Slap', 28, 15, 13, 5.69),
 (705800, 'Astroe', 3, 2, 1, None),
 (1147840, 'Hyper Storm', 2, 2, 0, 3.99),
 (506260, 'Cladun Returns: This Is Sengoku!', 20, 13, 7, 19.99),
 (1196440, 'Potion Party', 12, 12, 0, 9.99),
 (1136030, 'Apple Pop', 1, 0, 1, 3.99),
 (1126860, 'Nauseous Pines', 2, 2, 0, 3.99),
 (1197550, 'Ouction', 17, 4, 13, 6.59),
 (1158310, 'Crusader Kings III', 21793, 20411, 1382, 49.99),
 (1131790, "Injection π23 'No Name, No Number'", 3, 3, 0, 12.49),
 (1124830, 'Touhou Blooming Chaos', 13, 13, 0, 4.99),
 (1183720, 'Holoswitch', 84, 70, 14, 8.99),
 (1161680, 'Bomb Bowling 2', 1, 1, 0, 3.99),
 (1160800, 'Rainbow Robin', 2, 1, 1, 3.99),
 (462100, 'Starr Mazer: DSP', 166, 136, 30, 9.99),
 (1191900, 'Say No! More', 199, 187, 12, 14.99),
 (432980, 'INVERSUS Deluxe', 96, 89, 7, 14.99),
 (1145810, 'Desert lost', 8, 6, 2, 0.79),
 (1148710, 'Miriel Saga', 1, 1, 0, 12.49),
 (492490, 'Zombie Apocalypse: Escape The Undead City', 27, 10, 17, 1.59),
 (460640, 'Breached', 44, 22, 22, 5.69),
 (496300, 'Kingdom: New Lands', 3026, 2631, 395, 14.99),
 (1174890, 'No Offence, But', 1, 0, 1, 3.99),
 (479200, 'Champions of Odin', 2, 1, 1, 12.49),
 (468070, '90 Minute Fever - Football (Soccer) Manager MMO', 68, 42, 26, None),
 (504420, 'Malazard: Magic Defense', 17, 13, 4, 1.59),
 (460940, 'Father´s Island', 22, 13, 9, 4.49),
 (1174980, 'Mazetools Mutant', 2, 2, 0, 4.99),
 (473050, 'UnderWater Adventure', 1, 0, 1, None),
 (496380, 'A Verdant Hue', 4, 2, 2, 14.99),
 (497040, 'Underground Keeper', 14, 9, 5, 8.19),
 (1151650, 'Shard', 3, 3, 0, 2.49),
 (495720, 'Intrude', 112, 95, 17, 3.99),
 (496620, 'Monster Slayers', 511, 413, 98, 5.99),
 (434880, 'Hieroglyphika', 59, 38, 21, 9.99),
 (454250, 'The Eyes of Ara', 277, 232, 45, 12.49),
 (1193300, 'Axe Cop', 7, 7, 0, 8.19),
 (431740, 'Chowderchu', 2, 1, 1, 2.39),
 (422010, 'Eczema Angel Orifice', 3, 3, 0, 3.99),
 (467430, 'Farming 6-in-1 bundle', 21, 15, 6, 5.99),
 (463440, 'Retool', 1, 0, 1, 7.99),
 (1158010, 'UnHolY ToRturEr', 26, 19, 7, 13.29),
 (422610, '1775: Rebellion', 28, 20, 8, 22.99),
 (706440, 'Cyborg Arena', 15, 9, 6, 4.99),
 (498450, 'A Week of Circus Terror', 5, 3, 2, 4.99),
 (497310, 'PD Particles 9', 4, 3, 1, 3.99),
 (452320, 'Party Saboteurs: After Party', 12, 9, 3, 9.99),
 (445310, 'Might and Magic: Heroes VII – Trial by Fire', 337, 198, 139, 29.99),
 (475630, 'Crush Online', 22, 14, 8, None),
 (456760, 'A dragon girl looks up at the endless sky', 17, 14, 3, 9.99),
 (466270, 'Half-Life: A Place in the West', 24, 21, 3, None),
 (1172050, 'COCKHEAD', 384, 272, 112, 5.69),
 (1125350, 'Geocells Quadcells', 3, 3, 0, 6.59),
 (1187600, 'Wicked Willow', 27, 23, 4, 16.79),
 (451540, 'Snakes on an Extradimensional Plane', 2, 2, 0, 2.99),
 (464470, 'BloodGate', 162, 73, 89, None),
 (1127450, 'Lewd & Nude | Anime Collector', 59, 50, 9, None),
 (1149190, 'Errant Heart', 1, 0, 1, 3.29),
 (1165460, 'Unlit', 1, 0, 1, 9.99),
 (1132730, '巅峰骑士团', 8, 7, 1, 7.39),
 (456450, 'Jaunt VR - Experience Cinematic Virtual Reality', 3, 0, 3, None),
 (1146300, 'Land of War - The Beginning', 80, 39, 41, 14.99),
 (1179340, 'Kōmori Fruit Rush', 1, 1, 0, 3.99),
 (466050, "Redemption Cemetery: Salvation of the Lost Collector's Edition", 9, 9, 0, 9.99),
 (455490, "Don't Die Dateless, Dummy!", 47, 31, 16, 2.99),
 (491520, 'Zero-G VR', 50, 19, 31, 4.99),
 (466040, 'Pet Store Panic', 2, 2, 0, 6.99),
 (486810, 'House of Snark 6-in-1 Bundle', 41, 33, 8, 11.99),
 (503960, 'Will of the Gods', 19, 14, 5, 2.99),
 (1119500, 'FIGHT BALL - BOXING VR', 1, 0, 1, 3.99),
 (469790, 'Linelight', 224, 219, 5, 8.19),
 (1140790, 'Kung Fu Jesus', 3, 2, 1, 12.49),
 (1196380, 'Automaton', 3, 1, 2, 4.99),
 (1136880, 'Baby Walking Simulator', 17, 17, 0, 1.0),
 (496980, 'Cosmic Cavern 3671\u3000\u3000宇宙最大の地底最大の作戦', 8, 4, 4, 4.99),
 (463710, 'Puzzle Galaxies', 14, 4, 10, 0.79),
 (1154700, 'The diary of the cheating young married woman, Yuka.', 9, 7, 2, 3.29),
 (463860, 'Shadows of Kurgansk', 53, 25, 28, 5.99),
 (464630, 'Secret Of The Royal Throne', 5, 0, 5, 6.99),
 (428240, 'Hauntsters', 2, 2, 0, 4.99),
 (1143390, 'Ichor', 3, 3, 0, 3.29),
 (423890, 'Gods and Idols', 19, 11, 8, None),
 (1150310, "Let's Go! Skiing VR", 1, 0, 1, 2.39),
 (436500, 'Diaries of a Spaceport Janitor', 420, 327, 93, 9.99),
 (486140, '9Grids VR', 3, 2, 1, 1.99),
 (504450, 'StarSmashers', 8, 3, 5, 7.99),
 (467270, 'Weaves of Fate', 40, 30, 10, 3.29),
 (1198390, 'Kawaii Girl', 6, 4, 2, 0.79),
 (433570, 'Side Quest', 4, 1, 3, 6.99),
 (438090, 'Defend Felinearth', 3, 0, 3, 1.99),
 (1125770, 'Monoa City Parking', 1, 0, 1, 0.79),
 (1197020, 'Tale of the Gallant Jiraiya', 1, 1, 0, 8.99),
 (1115650, 'Blind Date 3D', 18, 9, 9, 8.19),
 (494380, 'VR Boxing Workout', 7, 1, 6, 4.99),
 (1138580, 'Farmington County: The Ultimate Farming Tycoon Simulator', 78, 70, 8, 12.49),
 (1175430, 'Project Starship X', 31, 31, 0, 12.99),
 (1176040, 'I Have Low Stats But My Class Is "Leader", So I Recruited Everyone I Know To Fight The Dark Lord', 3, 2, 1, 12.49),
 (1175650, 'UpMove', 2, 2, 0, 3.99),
 (1187840, 'Vesper', 4, 4, 0, 19.99),
 (463350, 'Storm Of Spears RPG', 226, 160, 66, 0.9),
 (1150610, 'City Gangs San Andreas', 2, 2, 0, 1.59),
 (460140, 'Midnight at the Celestial Palace: Part I', 20, 19, 1, 3.99),
 (1198450, 'The Secret Order 8: Return to the Buried Kingdom', 30, 25, 5, 14.99),
 (1152090, 'Elmarion: Dragon time', 187, 139, 48, 8.99),
 (436320, 'Raw Data', 1625, 1346, 279, 36.99),
 (1120810, 'Eastern Exorcist', 166, 153, 13, 13.99),
 (477800, 'Piñata', 1, 0, 1, None),
 (1157120, 'Zombie Season', 1, 0, 1, None),
 (464700, 'Maui', 5, 2, 3, None),
 (1148740, 'Far From Orbit', 1, 1, 0, 0.79),
 (474830, 'Time in Time', 16, 12, 4, 1.99),
 (429520, 'Falcon Gold', 5, 4, 1, 6.99),
 (1120280, 'Treasure Fleet', 8, 6, 2, 8.19),
 (1118380, 'Discord Bot Studio', 102, 81, 21, 8.99),
 (1135090, 'dino game', 15, 14, 1, 2.99),
 (1146970, 'My Vow to My Liege', 117, 111, 6, 8.19),
 (1167380, 'Neither Day nor Night', 2, 1, 1, 10.79),
 (1152480, 'Death To The Dragon Lord', 1, 1, 0, 3.29),
 (705290, 'Strange Telephone', 121, 99, 22, 4.99),
 (1153890, 'Trailing Girl', 7, 1, 6, 5.69),
 (477770, 'Ride 2', 693, 575, 118, 29.99),
 (473840, "Diib's Dilemma", 14, 12, 2, 1.99),
 (1188290, 'Cover Your Eyes', 1, 0, 1, 8.99),
 (495680, 'Overdriven Reloaded', 11, 8, 3, 7.99),
 (1180540, 'Puddle Knights', 60, 59, 1, 8.19),
 (1192610, 'ANIME REDEMPTION', 162, 132, 30, 1.99),
 (446110, 'Happy Critters', 1, 1, 0, 6.99),
 (496810, 'MegaTagmension Blanc + Neptune VS Zombies (Neptunia)', 488, 413, 75, 12.49),
 (1141220, 'DemonCrawl', 662, 542, 120, 12.49),
 (455290, 'Dashing Dinos', 2, 2, 0, 9.99),
 (478980, 'Mansions of Madness', 8, 7, 1, None),
 (460250, '🔴 Circles', 26, 24, 2, 7.99),
 (461850, 'Abrix 2 - Diamond version', 4, 3, 1, 1.59),
 (506470, 'Quip Anomaly', 4, 3, 1, 1.99),
 (505630, 'Let Them Come', 356, 312, 44, 7.99),
 (424040, 'Fragmental', 15, 12, 3, 3.99),
 (1198740, 'Colony Siege', 78, 72, 6, 12.49),
 (497000, 'Cross Death  VR', 5, 2, 3, 9.99)]

In [30]:
%%sql
SELECT * FROM Genres

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.

[(25, 'Adventure'),
 (1, 'Action'),
 (23, 'Indie'),
 (4, 'Casual'),
 (3, 'RPG'),
 (28, 'Simulation'),
 (2, 'Strategy'),
 (70, 'Early Access'),
 (18, 'Sports'),
 (29, 'Massively Multiplayer'),
 (9, 'Racing'),
 (51, 'Animation & Modeling'),
 (53, 'Design & Illustration'),
 (54, 'Education'),
 (56, 'Software Training'),
 (57, 'Utilities'),
 (59, 'Web Publishing'),
 (60, 'Game Development'),
 (37, 'Free to Play'),
 (55, 'Photo Editing'),
 (58, 'Video Production'),
 (50, 'Accounting'),
 (52, 'Audio Production'),
 (71, 'Sexual Content'),
 (73, 'Violent'),
 (74, 'Gore'),
 (72, 'Nudity'),
 (80, 'Movie')]

In [31]:
%%sql
SELECT * FROM GamesGenresRelation

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.

[(494990, 1),
 (494990, 4),
 (494990, 23),
 (1149930, 1),
 (1149930, 25),
 (1149930, 23),
 (1149930, 3),
 (1149930, 2),
 (462770, 1),
 (462770, 23),
 (462770, 3),
 (1193660, 25),
 (1193660, 4),
 (440380, 1),
 (440380, 23),
 (439880, 25),
 (468490, 1),
 (468490, 25),
 (468490, 4),
 (468490, 23),
 (468490, 2),
 (1197590, 1),
 (1197590, 4),
 (1197590, 23),
 (1175550, 4),
 (1175550, 2),
 (1133230, 23),
 (1133230, 28),
 (1133230, 2),
 (1145460, 4),
 (1145460, 23),
 (1145460, 3),
 (1145460, 28),
 (1144280, 1),
 (1144280, 4),
 (1144280, 23),
 (431360, 1),
 (431360, 25),
 (431360, 23),
 (431360, 70),
 (470890, 1),
 (470890, 23),
 (1133520, 1),
 (1133520, 25),
 (1133520, 4),
 (1133520, 23),
 (1133520, 70),
 (463320, 25),
 (463320, 23),
 (463320, 3),
 (1115870, 23),
 (449040, 37),
 (449040, 3),
 (501310, 1),
 (501310, 25),
 (501310, 23),
 (501310, 3),
 (476650, 25),
 (1146370, 2),
 (499540, 25),
 (499540, 23),
 (1123190, 25),
 (1123190, 4),
 (474620, 1),
 (474620, 23),
 (466130, 1),
 (466130, 25),
 (466130, 23),
 (502400, 1),
 (502400, 4),
 (502400, 23),
 (502400, 2),
 (499100, 25),
 (499100, 4),
 (487590, 4),
 (1142130, 1),
 (1142130, 37),
 (1142130, 23),
 (1142130, 2),
 (1126340, 23),
 (1126340, 70),
 (1191610, 23),
 (1161910, 1),
 (1118070, 1),
 (1118070, 23),
 (1118070, 28),
 (1141300, 1),
 (1141300, 23),
 (1141300, 28),
 (438490, 1),
 (438490, 3),
 (1137040, 1),
 (1137040, 4),
 (1137040, 23),
 (1137040, 28),
 (1137040, 70),
 (1116290, 25),
 (1116290, 23),
 (1156810, 57),
 (451900, 23),
 (451900, 3),
 (451900, 2),
 (1161570, 25),
 (1161570, 4),
 (1141170, 1),
 (1141170, 25),
 (1141170, 4),
 (1141170, 23),
 (1141170, 3),
 (1141170, 28),
 (1141170, 70),
 (500790, 1),
 (500790, 23),
 (458990, 25),
 (458990, 23),
 (505680, 73),
 (505680, 74),
 (505680, 1),
 (505680, 23),
 (442500, 4),
 (442500, 23),
 (442500, 3),
 (442500, 28),
 (442500, 18),
 (442500, 2),
 (1138800, 23),
 (1138800, 3),
 (494460, 25),
 (479330, 4),
 (479330, 2),
 (496250, 23),
 (496250, 18),
 (496250, 70),
 (1195920, 25),
 (1195920, 23),
 (448540, 25),
 (448540, 23),
 (1127850, 1),
 (1127850, 25),
 (1127850, 23),
 (1127850, 3),
 (427700, 1),
 (427700, 3),
 (503550, 1),
 (503550, 25),
 (503550, 23),
 (461760, 1),
 (461760, 4),
 (461760, 23),
 (1137730, 4),
 (1137730, 23),
 (446870, 1),
 (446870, 23),
 (1125800, 4),
 (1156030, 28),
 (463470, 1),
 (463470, 25),
 (463470, 23),
 (463470, 2),
 (1137930, 1),
 (1137930, 25),
 (1137930, 4),
 (1137930, 23),
 (1137930, 2),
 (1122210, 1),
 (1122210, 25),
 (1122210, 4),
 (1122210, 23),
 (1122210, 3),
 (1122210, 28),
 (1122210, 18),
 (1122210, 2),
 (1184820, 25),
 (1184820, 23),
 (1184820, 3),
 (1184820, 2),
 (1184820, 70),
 (1131270, 25),
 (1131270, 23),
 (1131270, 18),
 (1131270, 2),
 (1131270, 70),
 (476000, 23),
 (1148910, 51),
 (1148910, 53),
 (1148910, 54),
 (1148910, 56),
 (1148910, 57),
 (1148910, 58),
 (1148910, 59),
 (1148910, 60),
 (1162560, 25),
 (449240, 23),
 (437210, 28),
 (437210, 18),
 (1186260, 23),
 (1186260, 3),
 (1186260, 28),
 (449470, 25),
 (449470, 37),
 (449470, 29),
 (449470, 3),
 (1135130, 23),
 (447540, 1),
 (447540, 23),
 (1147850, 1),
 (1147850, 25),
 (1147850, 4),
 (1147850, 23),
 (1147850, 3),
 (437090, 23),
 (488890, 1),
 (488890, 23),
 (1152050, 25),
 (1152050, 23),
 (1152050, 3),
 (465920, 25),
 (465920, 4),
 (1133910, 1),
 (1133910, 4),
 (1133910, 23),
 (1133910, 9),
 (485230, 4),
 (485230, 23),
 (1173310, 1),
 (1173310, 25),
 (1173310, 4),
 (1173310, 23),
 (1173310, 2),
 (1147030, 25),
 (1147030, 37),
 (1155340, 25),
 (1155340, 4),
 (1155340, 23),
 (1135380, 23),
 (1118350, 1),
 (1118350, 23),
 (460160, 25),
 (460160, 4),
 (502880, 1),
 (502880, 23),
 (463290, 4),
 (463290, 23),
 (482390, 4),
 (482390, 23),
 (1190110, 1),
 (1190110, 25),
 (1190110, 23),
 (1190110, 3),
 (1190110, 28),
 (1190110, 2),
 (504400, 25),
 (504400, 4),
 (504400, 23),
 (1128770, 4),
 (1128770, 23),
 (1128770, 2),
 (1140880, 4),
 (1140880, 23),
 (1140880, 28),
 (480900, 25),
 (480900, 23),
 (705800, 1),
 (705800, 23),
 (1147840, 1),
 (1147840, 23),
 (506260, 1),
 (506260, 3),
 (1196440, 4),
 (1196440, 23),
 (1136030, 4),
 (1136030, 23),
 (1136030, 18),
 (1136030, 2),
 (1126860, 25),
 (1126860, 23),
 (1126860, 28),
 (1126860, 2),
 (1197550, 28),
 (1158310, 3),
 (1158310, 28),
 (1158310, 2),
 (1131790, 1),
 (1131790, 25),
 (1131790, 23),
 (1131790, 2),
 (1124830, 1),
 (1124830, 23),
 (1124830, 3),
 (1183720, 57),
 (1161680, 23),
 (1160800, 1),
 (1160800, 23),
 (462100, 1),
 (462100, 23),
 (462100, 70),
 (1191900, 4),
 (1191900, 23),
 (432980, 1),
 (432980, 4),
 (432980, 23),
 (432980, 2),
 (1145810, 1),
 (1145810, 25),
 (1145810, 23),
 (1148710, 25),
 (1148710, 23),
 (1148710, 3),
 (492490, 1),
 (492490, 23),
 (460640, 25),
 (460640, 23),
 (496300, 23),
 (496300, 28),
 (496300, 2),
 (1174890, 23),
 (1174890, 2),
 (1174890, 70),
 (479200, 1),
 (479200, 25),
 (479200, 23),
 (479200, 3),
 (479200, 70),
 (468070, 29),
 (468070, 28),
 (468070, 18),
 (468070, 70),
 (504420, 1),
 (504420, 23),
 (460940, 25),
 (460940, 23),
 (1174980, 52),
 (1174980, 53),
 (1174980, 57),
 (473050, 1),
 (473050, 25),
 (473050, 23),
 (496380, 4),
 (496380, 23),
 (496380, 28),
 (497040, 4),
 (497040, 23),
 (1151650, 4),
 (1151650, 23),
 (495720, 1),
 (495720, 23),
 (496620, 1),
 (496620, 23),
 (434880, 3),
 (434880, 2),
 (454250, 25),
 (454250, 23),
 (1193300, 1),
 (1193300, 25),
 (1193300, 23),
 (1193300, 3),
 (1193300, 2),
 (431740, 1),
 (431740, 25),
 (431740, 23),
 (422010, 25),
 (422010, 23),
 (467430, 4),
 (463440, 1),
 (463440, 23),
 (463440, 2),
 (1158010, 23),
 (1158010, 28),
 (422610, 2),
 (706440, 1),
 (706440, 25),
 (706440, 4),
 (706440, 23),
 (706440, 9),
 (706440, 28),
 (498450, 23),
 (497310, 53),
 (497310, 54),
 (497310, 55),
 (497310, 56),
 (452320, 23),
 (452320, 2),
 (445310, 3),
 (445310, 2),
 (475630, 1),
 (475630, 37),
 (475630, 29),
 (475630, 2),
 (456760, 1),
 (456760, 3),
 (466270, 23),
 (1172050, 1),
 (1172050, 25),
 (1172050, 4),
 (1172050, 23),
 (1172050, 28),
 (1172050, 18),
 (1125350, 4),
 (1125350, 23),
 (1125350, 2),
 (1187600, 23),
 (451540, 1),
 (451540, 23),
 (464470, 1),
 (464470, 25),
 (464470, 23),
 (464470, 3),
 (464470, 70),
 (1127450, 4),
 (1127450, 23),
 (1127450, 28),
 (1149190, 25),
 (1149190, 23),
 (1165460, 25),
 (1165460, 4),
 (1165460, 23),
 (1165460, 70),
 (1132730, 1),
 (1132730, 25),
 (1132730, 3),
 (1132730, 2),
 (456450, 57),
 (1146300, 1),
 (1146300, 25),
 (1179340, 1),
 (1179340, 4),
 (1179340, 23),
 (466050, 25),
 (466050, 4),
 (455490, 25),
 (455490, 23),
 (455490, 28),
 (491520, 25),
 (491520, 4),
 (491520, 23),
 (491520, 9),
 (491520, 28),
 (491520, 18),
 (466040, 4),
 (466040, 2),
 (486810, 25),
 (486810, 4),
 (503960, 4),
 (503960, 23),
 (503960, 2),
 (1119500, 1),
 (1119500, 23),
 (1119500, 18),
 (469790, 1),
 (469790, 25),
 (469790, 4),
 (469790, 23),
 (1140790, 1),
 (1140790, 25),
 (1140790, 23),
 (1140790, 3),
 (1196380, 25),
 (1196380, 23),
 (1136880, 4),
 (1136880, 23),
 (1136880, 28),
 (1136880, 18),
 (496980, 1),
 (496980, 4),
 (496980, 23),
 (496980, 2),
 (463710, 4),
 (463710, 23),
 (1154700, 3),
 (463860, 1),
 (463860, 25),
 (463860, 23),
 (463860, 3),
 (463860, 28),
 (464630, 4),
 (428240, 1),
 (428240, 23),
 (1143390, 1),
 (1143390, 23),
 (1143390, 2),
 (423890, 37),
 (423890, 29),
 (423890, 3),
 (423890, 2),
 (423890, 70),
 (1150310, 4),
 (1150310, 23),
 (1150310, 18),
 (436500, 25),
 (436500, 4),
 (436500, 23),
 (436500, 3),
 (436500, 28),
 (486140, 1),
 (486140, 4),
 (486140, 23),
 (504450, 1),
 (504450, 25),
 (504450, 23),
 (504450, 2),
 (467270, 1),
 (467270, 23),
 (467270, 3),
 (467270, 2),
 (1198390, 25),
 (1198390, 4),
 (1198390, 23),
 (433570, 1),
 (433570, 25),
 (433570, 23),
 (438090, 1),
 (438090, 4),
 (438090, 23),
 (1125770, 23),
 (1125770, 28),
 (1197020, 1),
 (1197020, 25),
 (1197020, 4),
 (1197020, 23),
 (1115650, 25),
 (1115650, 23),
 (1115650, 28),
 (494380, 28),
 (494380, 18),
 (1138580, 23),
 (1138580, 28),
 (1138580, 2),
 (1138580, 70),
 (1175430, 1),
 (1175430, 25),
 (1175430, 4),
 (1175430, 23),
 (1176040, 23),
 (1176040, 3),
 (1175650, 1),
 (1175650, 25),
 (1175650, 23),
 (1175650, 9),
 (1187840, 1),
 (1187840, 25),
 (1187840, 23),
 (463350, 1),
 (463350, 25),
 (463350, 23),
 (463350, 3),
 (1150610, 1),
 (1150610, 25),
 (1150610, 4),
 (1150610, 23),
 (1150610, 28),
 (460140, 25),
 (460140, 23),
 (1198450, 25),
 (1198450, 4),
 (1152090, 1),
 (1152090, 25),
 (1152090, 23),
 (1152090, 3),
 (1152090, 28),
 (1152090, 70),
 (436320, 1),
 (436320, 23),
 (436320, 2),
 (1120810, 1),
 (1120810, 25),
 (1120810, 3),
 (477800, 4),
 (477800, 37),
 (477800, 23),
 (477800, 28),
 (1157120, 1),
 (1157120, 4),
 (1157120, 23),
 (1157120, 70),
 (464700, 1),
 (464700, 25),
 (464700, 4),
 (464700, 37),
 (464700, 23),
 (1148740, 1),
 (1148740, 23),
 (474830, 4),
 (474830, 23),
 (474830, 2),
 (429520, 28),
 (1120280, 23),
 (1120280, 2),
 (1118380, 57),
 (1135090, 25),
 (1135090, 23),
 (1146970, 4),
 (1146970, 23),
 (1167380, 1),
 (1167380, 25),
 (1167380, 23),
 (1152480, 3),
 (705290, 25),
 (705290, 4),
 (705290, 23),
 (1153890, 4),
 (1153890, 3),
 (477770, 9),
 (477770, 28),
 (477770, 18),
 (473840, 1),
 (473840, 25),
 (473840, 23),
 (473840, 3),
 (1188290, 1),
 (1188290, 25),
 (1188290, 23),
 (1188290, 28),
 (495680, 1),
 (495680, 23),
 (1180540, 4),
 (1180540, 23),
 (1180540, 2),
 (1192610, 1),
 (1192610, 25),
 (1192610, 23),
 (1192610, 3),
 (1192610, 28),
 (446110, 4),
 (496810, 1),
 (1141220, 25),
 (1141220, 23),
 (1141220, 3),
 (1141220, 2),
 (455290, 1),
 (455290, 4),
 (455290, 23),
 (478980, 25),
 (478980, 2),
 (460250, 4),
 (460250, 23),
 (461850, 4),
 (461850, 23),
 (461850, 2),
 (506470, 1),
 (506470, 23),
 (505630, 1),
 (505630, 23),
 (424040, 1),
 (424040, 23),
 (1198740, 28),
 (1198740, 2),
 (497000, 1),
 (497000, 25),
 (497000, 23),
 (497000, 2)]

In [32]:
%%sql
SELECT
DISTINCT gms.steam_appid, gnr.genre, gms_gnr.genre_id, gms.total_reviews
FROM
games gms
JOIN GamesGenresRelation gms_gnr ON gms.steam_appid = gms_gnr.steam_appid
JOIN genres gnr ON gnr.genre_id = gms_gnr.genre_id

 * sqlite:///..\\..\\Data\\Database\\Games.db
Done.

[(494990, 'Action', 1, 16),
 (494990, 'Casual', 4, 16),
 (494990, 'Indie', 23, 16),
 (1149930, 'Action', 1, 2),
 (1149930, 'Adventure', 25, 2),
 (1149930, 'Indie', 23, 2),
 (1149930, 'RPG', 3, 2),
 (1149930, 'Strategy', 2, 2),
 (462770, 'Action', 1, 4324),
 (462770, 'Indie', 23, 4324),
 (462770, 'RPG', 3, 4324),
 (1193660, 'Adventure', 25, 3),
 (1193660, 'Casual', 4, 3),
 (440380, 'Action', 1, 3),
 (440380, 'Indie', 23, 3),
 (439880, 'Adventure', 25, 10),
 (468490, 'Action', 1, 117),
 (468490, 'Adventure', 25, 117),
 (468490, 'Casual', 4, 117),
 (468490, 'Indie', 23, 117),
 (468490, 'Strategy', 2, 117),
 (1197590, 'Action', 1, 46),
 (1197590, 'Casual', 4, 46),
 (1197590, 'Indie', 23, 46),
 (1175550, 'Casual', 4, 1),
 (1175550, 'Strategy', 2, 1),
 (1133230, 'Indie', 23, 10),
 (1133230, 'Simulation', 28, 10),
 (1133230, 'Strategy', 2, 10),
 (1145460, 'Casual', 4, 6),
 (1145460, 'Indie', 23, 6),
 (1145460, 'RPG', 3, 6),
 (1145460, 'Simulation', 28, 6),
 (1144280, 'Action', 1, 48),
 (1144280, 'Casual', 4, 48),
 (1144280, 'Indie', 23, 48),
 (431360, 'Action', 1, 5),
 (431360, 'Adventure', 25, 5),
 (431360, 'Indie', 23, 5),
 (431360, 'Early Access', 70, 5),
 (470890, 'Action', 1, 4),
 (470890, 'Indie', 23, 4),
 (1133520, 'Action', 1, 2),
 (1133520, 'Adventure', 25, 2),
 (1133520, 'Casual', 4, 2),
 (1133520, 'Indie', 23, 2),
 (1133520, 'Early Access', 70, 2),
 (463320, 'Adventure', 25, 23),
 (463320, 'Indie', 23, 23),
 (463320, 'RPG', 3, 23),
 (1115870, 'Indie', 23, 4),
 (449040, 'Free to Play', 37, 21),
 (449040, 'RPG', 3, 21),
 (501310, 'Action', 1, 5),
 (501310, 'Adventure', 25, 5),
 (501310, 'Indie', 23, 5),
 (501310, 'RPG', 3, 5),
 (476650, 'Adventure', 25, 255),
 (1146370, 'Strategy', 2, 287),
 (499540, 'Adventure', 25, 2),
 (499540, 'Indie', 23, 2),
 (1123190, 'Adventure', 25, 2),
 (1123190, 'Casual', 4, 2),
 (474620, 'Action', 1, 10),
 (474620, 'Indie', 23, 10),
 (466130, 'Action', 1, 162),
 (466130, 'Adventure', 25, 162),
 (466130, 'Indie', 23, 162),
 (502400, 'Action', 1, 16),
 (502400, 'Casual', 4, 16),
 (502400, 'Indie', 23, 16),
 (502400, 'Strategy', 2, 16),
 (499100, 'Adventure', 25, 38),
 (499100, 'Casual', 4, 38),
 (487590, 'Casual', 4, 8),
 (1142130, 'Action', 1, 1),
 (1142130, 'Free to Play', 37, 1),
 (1142130, 'Indie', 23, 1),
 (1142130, 'Strategy', 2, 1),
 (1126340, 'Indie', 23, 4),
 (1126340, 'Early Access', 70, 4),
 (1191610, 'Indie', 23, 1),
 (1161910, 'Action', 1, 4),
 (1118070, 'Action', 1, 53),
 (1118070, 'Indie', 23, 53),
 (1118070, 'Simulation', 28, 53),
 (1141300, 'Action', 1, 2),
 (1141300, 'Indie', 23, 2),
 (1141300, 'Simulation', 28, 2),
 (438490, 'Action', 1, 1525),
 (438490, 'RPG', 3, 1525),
 (1137040, 'Action', 1, 3),
 (1137040, 'Casual', 4, 3),
 (1137040, 'Indie', 23, 3),
 (1137040, 'Simulation', 28, 3),
 (1137040, 'Early Access', 70, 3),
 (1116290, 'Adventure', 25, 14),
 (1116290, 'Indie', 23, 14),
 (1156810, 'Utilities', 57, 1),
 (451900, 'Indie', 23, 19),
 (451900, 'RPG', 3, 19),
 (451900, 'Strategy', 2, 19),
 (1161570, 'Adventure', 25, 14),
 (1161570, 'Casual', 4, 14),
 (1141170, 'Action', 1, 1),
 (1141170, 'Adventure', 25, 1),
 (1141170, 'Casual', 4, 1),
 (1141170, 'Indie', 23, 1),
 (1141170, 'RPG', 3, 1),
 (1141170, 'Simulation', 28, 1),
 (1141170, 'Early Access', 70, 1),
 (500790, 'Action', 1, 1),
 (500790, 'Indie', 23, 1),
 (458990, 'Adventure', 25, 19),
 (458990, 'Indie', 23, 19),
 (505680, 'Violent', 73, 13),
 (505680, 'Gore', 74, 13),
 (505680, 'Action', 1, 13),
 (505680, 'Indie', 23, 13),
 (442500, 'Casual', 4, 409),
 (442500, 'Indie', 23, 409),
 (442500, 'RPG', 3, 409),
 (442500, 'Simulation', 28, 409),
 (442500, 'Sports', 18, 409),
 (442500, 'Strategy', 2, 409),
 (1138800, 'Indie', 23, 1),
 (1138800, 'RPG', 3, 1),
 (494460, 'Adventure', 25, 42),
 (479330, 'Casual', 4, 17),
 (479330, 'Strategy', 2, 17),
 (496250, 'Indie', 23, 159),
 (496250, 'Sports', 18, 159),
 (496250, 'Early Access', 70, 159),
 (1195920, 'Adventure', 25, 15),
 (1195920, 'Indie', 23, 15),
 (448540, 'Adventure', 25, 32),
 (448540, 'Indie', 23, 32),
 (1127850, 'Action', 1, 85),
 (1127850, 'Adventure', 25, 85),
 (1127850, 'Indie', 23, 85),
 (1127850, 'RPG', 3, 85),
 (427700, 'Action', 1, 105),
 (427700, 'RPG', 3, 105),
 (503550, 'Action', 1, 47),
 (503550, 'Adventure', 25, 47),
 (503550, 'Indie', 23, 47),
 (461760, 'Action', 1, 9),
 (461760, 'Casual', 4, 9),
 (461760, 'Indie', 23, 9),
 (1137730, 'Casual', 4, 12),
 (1137730, 'Indie', 23, 12),
 (446870, 'Action', 1, 11),
 (446870, 'Indie', 23, 11),
 (1125800, 'Casual', 4, 7),
 (1156030, 'Simulation', 28, 2),
 (463470, 'Action', 1, 10),
 (463470, 'Adventure', 25, 10),
 (463470, 'Indie', 23, 10),
 (463470, 'Strategy', 2, 10),
 (1137930, 'Action', 1, 1),
 (1137930, 'Adventure', 25, 1),
 (1137930, 'Casual', 4, 1),
 (1137930, 'Indie', 23, 1),
 (1137930, 'Strategy', 2, 1),
 (1122210, 'Action', 1, 1),
 (1122210, 'Adventure', 25, 1),
 (1122210, 'Casual', 4, 1),
 (1122210, 'Indie', 23, 1),
 (1122210, 'RPG', 3, 1),
 (1122210, 'Simulation', 28, 1),
 (1122210, 'Sports', 18, 1),
 (1122210, 'Strategy', 2, 1),
 (1184820, 'Adventure', 25, 100),
 (1184820, 'Indie', 23, 100),
 (1184820, 'RPG', 3, 100),
 (1184820, 'Strategy', 2, 100),
 (1184820, 'Early Access', 70, 100),
 (1131270, 'Adventure', 25, 5),
 (1131270, 'Indie', 23, 5),
 (1131270, 'Sports', 18, 5),
 (1131270, 'Strategy', 2, 5),
 (1131270, 'Early Access', 70, 5),
 (476000, 'Indie', 23, 6),
 (1148910, 'Animation & Modeling', 51, 15),
 (1148910, 'Design & Illustration', 53, 15),
 (1148910, 'Education', 54, 15),
 (1148910, 'Software Training', 56, 15),
 (1148910, 'Utilities', 57, 15),
 (1148910, 'Video Production', 58, 15),
 (1148910, 'Web Publishing', 59, 15),
 (1148910, 'Game Development', 60, 15),
 (1162560, 'Adventure', 25, 184),
 (449240, 'Indie', 23, 5),
 (437210, 'Simulation', 28, 10),
 (437210, 'Sports', 18, 10),
 (1186260, 'Indie', 23, 17),
 (1186260, 'RPG', 3, 17),
 (1186260, 'Simulation', 28, 17),
 (449470, 'Adventure', 25, 2),
 (449470, 'Free to Play', 37, 2),
 (449470, 'Massively Multiplayer', 29, 2),
 (449470, 'RPG', 3, 2),
 (1135130, 'Indie', 23, 7),
 (447540, 'Action', 1, 2),
 (447540, 'Indie', 23, 2),
 (1147850, 'Action', 1, 7),
 (1147850, 'Adventure', 25, 7),
 (1147850, 'Casual', 4, 7),
 (1147850, 'Indie', 23, 7),
 (1147850, 'RPG', 3, 7),
 (437090, 'Indie', 23, 2),
 (488890, 'Action', 1, 22),
 (488890, 'Indie', 23, 22),
 (1152050, 'Adventure', 25, 7),
 (1152050, 'Indie', 23, 7),
 (1152050, 'RPG', 3, 7),
 (465920, 'Adventure', 25, 4),
 (465920, 'Casual', 4, 4),
 (1133910, 'Action', 1, 6),
 (1133910, 'Casual', 4, 6),
 (1133910, 'Indie', 23, 6),
 (1133910, 'Racing', 9, 6),
 (485230, 'Casual', 4, 2),
 (485230, 'Indie', 23, 2),
 (1173310, 'Action', 1, 12),
 (1173310, 'Adventure', 25, 12),
 (1173310, 'Casual', 4, 12),
 (1173310, 'Indie', 23, 12),
 (1173310, 'Strategy', 2, 12),
 (1147030, 'Adventure', 25, 5),
 (1147030, 'Free to Play', 37, 5),
 (1155340, 'Adventure', 25, 3),
 (1155340, 'Casual', 4, 3),
 (1155340, 'Indie', 23, 3),
 (1135380, 'Indie', 23, 1),
 (1118350, 'Action', 1, 16),
 (1118350, 'Indie', 23, 16),
 (460160, 'Adventure', 25, 151),
 (460160, 'Casual', 4, 151),
 (502880, 'Action', 1, 20),
 (502880, 'Indie', 23, 20),
 (463290, 'Casual', 4, 100),
 (463290, 'Indie', 23, 100),
 (482390, 'Casual', 4, 2),
 (482390, 'Indie', 23, 2),
 (1190110, 'Action', 1, 387),
 (1190110, 'Adventure', 25, 387),
 (1190110, 'Indie', 23, 387),
 (1190110, 'RPG', 3, 387),
 (1190110, 'Simulation', 28, 387),
 (1190110, 'Strategy', 2, 387),
 (504400, 'Adventure', 25, 55),
 (504400, 'Casual', 4, 55),
 (504400, 'Indie', 23, 55),
 (1128770, 'Casual', 4, 2),
 (1128770, 'Indie', 23, 2),
 (1128770, 'Strategy', 2, 2),
 (1140880, 'Casual', 4, 14),
 (1140880, 'Indie', 23, 14),
 (1140880, 'Simulation', 28, 14),
 (480900, 'Adventure', 25, 28),
 (480900, 'Indie', 23, 28),
 (705800, 'Action', 1, 3),
 (705800, 'Indie', 23, 3),
 (1147840, 'Action', 1, 2),
 (1147840, 'Indie', 23, 2),
 (506260, 'Action', 1, 20),
 (506260, 'RPG', 3, 20),
 (1196440, 'Casual', 4, 12),
 (1196440, 'Indie', 23, 12),
 (1136030, 'Casual', 4, 1),
 (1136030, 'Indie', 23, 1),
 (1136030, 'Sports', 18, 1),
 (1136030, 'Strategy', 2, 1),
 (1126860, 'Adventure', 25, 2),
 (1126860, 'Indie', 23, 2),
 (1126860, 'Simulation', 28, 2),
 (1126860, 'Strategy', 2, 2),
 (1197550, 'Simulation', 28, 17),
 (1158310, 'RPG', 3, 21793),
 (1158310, 'Simulation', 28, 21793),
 (1158310, 'Strategy', 2, 21793),
 (1131790, 'Action', 1, 3),
 (1131790, 'Adventure', 25, 3),
 (1131790, 'Indie', 23, 3),
 (1131790, 'Strategy', 2, 3),
 (1124830, 'Action', 1, 13),
 (1124830, 'Indie', 23, 13),
 (1124830, 'RPG', 3, 13),
 (1183720, 'Utilities', 57, 84),
 (1161680, 'Indie', 23, 1),
 (1160800, 'Action', 1, 2),
 (1160800, 'Indie', 23, 2),
 (462100, 'Action', 1, 166),
 (462100, 'Indie', 23, 166),
 (462100, 'Early Access', 70, 166),
 (1191900, 'Casual', 4, 199),
 (1191900, 'Indie', 23, 199),
 (432980, 'Action', 1, 96),
 (432980, 'Casual', 4, 96),
 (432980, 'Indie', 23, 96),
 (432980, 'Strategy', 2, 96),
 (1145810, 'Action', 1, 8),
 (1145810, 'Adventure', 25, 8),
 (1145810, 'Indie', 23, 8),
 (1148710, 'Adventure', 25, 1),
 (1148710, 'Indie', 23, 1),
 (1148710, 'RPG', 3, 1),
 (492490, 'Action', 1, 27),
 (492490, 'Indie', 23, 27),
 (460640, 'Adventure', 25, 44),
 (460640, 'Indie', 23, 44),
 (496300, 'Indie', 23, 3026),
 (496300, 'Simulation', 28, 3026),
 (496300, 'Strategy', 2, 3026),
 (1174890, 'Indie', 23, 1),
 (1174890, 'Strategy', 2, 1),
 (1174890, 'Early Access', 70, 1),
 (479200, 'Action', 1, 2),
 (479200, 'Adventure', 25, 2),
 (479200, 'Indie', 23, 2),
 (479200, 'RPG', 3, 2),
 (479200, 'Early Access', 70, 2),
 (468070, 'Massively Multiplayer', 29, 68),
 (468070, 'Simulation', 28, 68),
 (468070, 'Sports', 18, 68),
 (468070, 'Early Access', 70, 68),
 (504420, 'Action', 1, 17),
 (504420, 'Indie', 23, 17),
 (460940, 'Adventure', 25, 22),
 (460940, 'Indie', 23, 22),
 (1174980, 'Audio Production', 52, 2),
 (1174980, 'Design & Illustration', 53, 2),
 (1174980, 'Utilities', 57, 2),
 (473050, 'Action', 1, 1),
 (473050, 'Adventure', 25, 1),
 (473050, 'Indie', 23, 1),
 (496380, 'Casual', 4, 4),
 (496380, 'Indie', 23, 4),
 (496380, 'Simulation', 28, 4),
 (497040, 'Casual', 4, 14),
 (497040, 'Indie', 23, 14),
 (1151650, 'Casual', 4, 3),
 (1151650, 'Indie', 23, 3),
 (495720, 'Action', 1, 112),
 (495720, 'Indie', 23, 112),
 (496620, 'Action', 1, 511),
 (496620, 'Indie', 23, 511),
 (434880, 'RPG', 3, 59),
 (434880, 'Strategy', 2, 59),
 (454250, 'Adventure', 25, 277),
 (454250, 'Indie', 23, 277),
 (1193300, 'Action', 1, 7),
 (1193300, 'Adventure', 25, 7),
 (1193300, 'Indie', 23, 7),
 (1193300, 'RPG', 3, 7),
 (1193300, 'Strategy', 2, 7),
 (431740, 'Action', 1, 2),
 (431740, 'Adventure', 25, 2),
 (431740, 'Indie', 23, 2),
 (422010, 'Adventure', 25, 3),
 (422010, 'Indie', 23, 3),
 (467430, 'Casual', 4, 21),
 (463440, 'Action', 1, 1),
 (463440, 'Indie', 23, 1),
 (463440, 'Strategy', 2, 1),
 (1158010, 'Indie', 23, 26),
 (1158010, 'Simulation', 28, 26),
 (422610, 'Strategy', 2, 28),
 (706440, 'Action', 1, 15),
 (706440, 'Adventure', 25, 15),
 (706440, 'Casual', 4, 15),
 (706440, 'Indie', 23, 15),
 (706440, 'Racing', 9, 15),
 (706440, 'Simulation', 28, 15),
 (498450, 'Indie', 23, 5),
 (497310, 'Design & Illustration', 53, 4),
 (497310, 'Education', 54, 4),
 (497310, 'Photo Editing', 55, 4),
 (497310, 'Software Training', 56, 4),
 (452320, 'Indie', 23, 12),
 (452320, 'Strategy', 2, 12),
 (445310, 'RPG', 3, 337),
 (445310, 'Strategy', 2, 337),
 (475630, 'Action', 1, 22),
 (475630, 'Free to Play', 37, 22),
 (475630, 'Massively Multiplayer', 29, 22),
 (475630, 'Strategy', 2, 22),
 (456760, 'Action', 1, 17),
 (456760, 'RPG', 3, 17),
 (466270, 'Indie', 23, 24),
 (1172050, 'Action', 1, 384),
 (1172050, 'Adventure', 25, 384),
 (1172050, 'Casual', 4, 384),
 (1172050, 'Indie', 23, 384),
 (1172050, 'Simulation', 28, 384),
 (1172050, 'Sports', 18, 384),
 (1125350, 'Casual', 4, 3),
 (1125350, 'Indie', 23, 3),
 (1125350, 'Strategy', 2, 3),
 (1187600, 'Indie', 23, 27),
 (451540, 'Action', 1, 2),
 (451540, 'Indie', 23, 2),
 (464470, 'Action', 1, 162),
 (464470, 'Adventure', 25, 162),
 (464470, 'Indie', 23, 162),
 (464470, 'RPG', 3, 162),
 (464470, 'Early Access', 70, 162),
 (1127450, 'Casual', 4, 59),
 (1127450, 'Indie', 23, 59),
 (1127450, 'Simulation', 28, 59),
 (1149190, 'Adventure', 25, 1),
 (1149190, 'Indie', 23, 1),
 (1165460, 'Adventure', 25, 1),
 (1165460, 'Casual', 4, 1),
 (1165460, 'Indie', 23, 1),
 (1165460, 'Early Access', 70, 1),
 (1132730, 'Action', 1, 8),
 (1132730, 'Adventure', 25, 8),
 (1132730, 'RPG', 3, 8),
 (1132730, 'Strategy', 2, 8),
 (456450, 'Utilities', 57, 3),
 (1146300, 'Action', 1, 80),
 (1146300, 'Adventure', 25, 80),
 (1179340, 'Action', 1, 1),
 (1179340, 'Casual', 4, 1),
 (1179340, 'Indie', 23, 1),
 (466050, 'Adventure', 25, 9),
 (466050, 'Casual', 4, 9),
 (455490, 'Adventure', 25, 47),
 (455490, 'Indie', 23, 47),
 (455490, 'Simulation', 28, 47),
 (491520, 'Adventure', 25, 50),
 (491520, 'Casual', 4, 50),
 (491520, 'Indie', 23, 50),
 (491520, 'Racing', 9, 50),
 (491520, 'Simulation', 28, 50),
 (491520, 'Sports', 18, 50),
 (466040, 'Casual', 4, 2),
 (466040, 'Strategy', 2, 2),
 (486810, 'Adventure', 25, 41),
 (486810, 'Casual', 4, 41),
 (503960, 'Casual', 4, 19),
 (503960, 'Indie', 23, 19),
 (503960, 'Strategy', 2, 19),
 (1119500, 'Action', 1, 1),
 (1119500, 'Indie', 23, 1),
 (1119500, 'Sports', 18, 1),
 (469790, 'Action', 1, 224),
 (469790, 'Adventure', 25, 224),
 (469790, 'Casual', 4, 224),
 (469790, 'Indie', 23, 224),
 (1140790, 'Action', 1, 3),
 (1140790, 'Adventure', 25, 3),
 (1140790, 'Indie', 23, 3),
 (1140790, 'RPG', 3, 3),
 (1196380, 'Adventure', 25, 3),
 (1196380, 'Indie', 23, 3),
 (1136880, 'Casual', 4, 17),
 (1136880, 'Indie', 23, 17),
 (1136880, 'Simulation', 28, 17),
 (1136880, 'Sports', 18, 17),
 (496980, 'Action', 1, 8),
 (496980, 'Casual', 4, 8),
 (496980, 'Indie', 23, 8),
 (496980, 'Strategy', 2, 8),
 (463710, 'Casual', 4, 14),
 (463710, 'Indie', 23, 14),
 (1154700, 'RPG', 3, 9),
 (463860, 'Action', 1, 53),
 (463860, 'Adventure', 25, 53),
 (463860, 'Indie', 23, 53),
 (463860, 'RPG', 3, 53),
 (463860, 'Simulation', 28, 53),
 (464630, 'Casual', 4, 5),
 (428240, 'Action', 1, 2),
 (428240, 'Indie', 23, 2),
 (1143390, 'Action', 1, 3),
 (1143390, 'Indie', 23, 3),
 (1143390, 'Strategy', 2, 3),
 (423890, 'Free to Play', 37, 19),
 (423890, 'Massively Multiplayer', 29, 19),
 (423890, 'RPG', 3, 19),
 (423890, 'Strategy', 2, 19),
 (423890, 'Early Access', 70, 19),
 (1150310, 'Casual', 4, 1),
 (1150310, 'Indie', 23, 1),
 (1150310, 'Sports', 18, 1),
 (436500, 'Adventure', 25, 420),
 (436500, 'Casual', 4, 420),
 (436500, 'Indie', 23, 420),
 (436500, 'RPG', 3, 420),
 (436500, 'Simulation', 28, 420),
 (486140, 'Action', 1, 3),
 (486140, 'Casual', 4, 3),
 (486140, 'Indie', 23, 3),
 (504450, 'Action', 1, 8),
 (504450, 'Adventure', 25, 8),
 (504450, 'Indie', 23, 8),
 (504450, 'Strategy', 2, 8),
 (467270, 'Action', 1, 40),
 (467270, 'Indie', 23, 40),
 (467270, 'RPG', 3, 40),
 (467270, 'Strategy', 2, 40),
 (1198390, 'Adventure', 25, 6),
 (1198390, 'Casual', 4, 6),
 (1198390, 'Indie', 23, 6),
 (433570, 'Action', 1, 4),
 (433570, 'Adventure', 25, 4),
 (433570, 'Indie', 23, 4),
 (438090, 'Action', 1, 3),
 (438090, 'Casual', 4, 3),
 (438090, 'Indie', 23, 3),
 (1125770, 'Indie', 23, 1),
 (1125770, 'Simulation', 28, 1),
 (1197020, 'Action', 1, 1),
 (1197020, 'Adventure', 25, 1),
 (1197020, 'Casual', 4, 1),
 (1197020, 'Indie', 23, 1),
 (1115650, 'Adventure', 25, 18),
 (1115650, 'Indie', 23, 18),
 (1115650, 'Simulation', 28, 18),
 (494380, 'Simulation', 28, 7),
 (494380, 'Sports', 18, 7),
 (1138580, 'Indie', 23, 78),
 (1138580, 'Simulation', 28, 78),
 (1138580, 'Strategy', 2, 78),
 (1138580, 'Early Access', 70, 78),
 (1175430, 'Action', 1, 31),
 (1175430, 'Adventure', 25, 31),
 (1175430, 'Casual', 4, 31),
 (1175430, 'Indie', 23, 31),
 (1176040, 'Indie', 23, 3),
 (1176040, 'RPG', 3, 3),
 (1175650, 'Action', 1, 2),
 (1175650, 'Adventure', 25, 2),
 (1175650, 'Indie', 23, 2),
 (1175650, 'Racing', 9, 2),
 (1187840, 'Action', 1, 4),
 (1187840, 'Adventure', 25, 4),
 (1187840, 'Indie', 23, 4),
 (463350, 'Action', 1, 226),
 (463350, 'Adventure', 25, 226),
 (463350, 'Indie', 23, 226),
 (463350, 'RPG', 3, 226),
 (1150610, 'Action', 1, 2),
 (1150610, 'Adventure', 25, 2),
 (1150610, 'Casual', 4, 2),
 (1150610, 'Indie', 23, 2),
 (1150610, 'Simulation', 28, 2),
 (460140, 'Adventure', 25, 20),
 (460140, 'Indie', 23, 20),
 (1198450, 'Adventure', 25, 30),
 (1198450, 'Casual', 4, 30),
 (1152090, 'Action', 1, 187),
 (1152090, 'Adventure', 25, 187),
 (1152090, 'Indie', 23, 187),
 (1152090, 'RPG', 3, 187),
 (1152090, 'Simulation', 28, 187),
 (1152090, 'Early Access', 70, 187),
 (436320, 'Action', 1, 1625),
 (436320, 'Indie', 23, 1625),
 (436320, 'Strategy', 2, 1625),
 (1120810, 'Action', 1, 166),
 (1120810, 'Adventure', 25, 166),
 (1120810, 'RPG', 3, 166),
 (477800, 'Casual', 4, 1),
 (477800, 'Free to Play', 37, 1),
 (477800, 'Indie', 23, 1),
 (477800, 'Simulation', 28, 1),
 (1157120, 'Action', 1, 1),
 (1157120, 'Casual', 4, 1),
 (1157120, 'Indie', 23, 1),
 (1157120, 'Early Access', 70, 1),
 (464700, 'Action', 1, 5),
 (464700, 'Adventure', 25, 5),
 (464700, 'Casual', 4, 5),
 (464700, 'Free to Play', 37, 5),
 (464700, 'Indie', 23, 5),
 (1148740, 'Action', 1, 1),
 (1148740, 'Indie', 23, 1),
 (474830, 'Casual', 4, 16),
 (474830, 'Indie', 23, 16),
 (474830, 'Strategy', 2, 16),
 (429520, 'Simulation', 28, 5),
 (1120280, 'Indie', 23, 8),
 (1120280, 'Strategy', 2, 8),
 (1118380, 'Utilities', 57, 102),
 (1135090, 'Adventure', 25, 15),
 (1135090, 'Indie', 23, 15),
 (1146970, 'Casual', 4, 117),
 (1146970, 'Indie', 23, 117),
 (1167380, 'Action', 1, 2),
 (1167380, 'Adventure', 25, 2),
 (1167380, 'Indie', 23, 2),
 (1152480, 'RPG', 3, 1),
 (705290, 'Adventure', 25, 121),
 (705290, 'Casual', 4, 121),
 (705290, 'Indie', 23, 121),
 (1153890, 'Casual', 4, 7),
 (1153890, 'RPG', 3, 7),
 (477770, 'Racing', 9, 693),
 (477770, 'Simulation', 28, 693),
 (477770, 'Sports', 18, 693),
 (473840, 'Action', 1, 14),
 (473840, 'Adventure', 25, 14),
 (473840, 'Indie', 23, 14),
 (473840, 'RPG', 3, 14),
 (1188290, 'Action', 1, 1),
 (1188290, 'Adventure', 25, 1),
 (1188290, 'Indie', 23, 1),
 (1188290, 'Simulation', 28, 1),
 (495680, 'Action', 1, 11),
 (495680, 'Indie', 23, 11),
 (1180540, 'Casual', 4, 60),
 (1180540, 'Indie', 23, 60),
 (1180540, 'Strategy', 2, 60),
 (1192610, 'Action', 1, 162),
 (1192610, 'Adventure', 25, 162),
 (1192610, 'Indie', 23, 162),
 (1192610, 'RPG', 3, 162),
 (1192610, 'Simulation', 28, 162),
 (446110, 'Casual', 4, 1),
 (496810, 'Action', 1, 488),
 (1141220, 'Adventure', 25, 662),
 (1141220, 'Indie', 23, 662),
 (1141220, 'RPG', 3, 662),
 (1141220, 'Strategy', 2, 662),
 (455290, 'Action', 1, 2),
 (455290, 'Casual', 4, 2),
 (455290, 'Indie', 23, 2),
 (478980, 'Adventure', 25, 8),
 (478980, 'Strategy', 2, 8),
 (460250, 'Casual', 4, 26),
 (460250, 'Indie', 23, 26),
 (461850, 'Casual', 4, 4),
 (461850, 'Indie', 23, 4),
 (461850, 'Strategy', 2, 4),
 (506470, 'Action', 1, 4),
 (506470, 'Indie', 23, 4),
 (505630, 'Action', 1, 356),
 (505630, 'Indie', 23, 356),
 (424040, 'Action', 1, 15),
 (424040, 'Indie', 23, 15),
 (1198740, 'Simulation', 28, 78),
 (1198740, 'Strategy', 2, 78),
 (497000, 'Action', 1, 5),
 (497000, 'Adventure', 25, 5),
 (497000, 'Indie', 23, 5),
 (497000, 'Strategy', 2, 5)]

In [33]:
sql_query = """SELECT gms.steam_appid, gnr.genre, gms_gnr.genre_id
FROM
games gms
JOIN GamesGenresRelation gms_gnr ON gms.steam_appid = gms_gnr.steam_appid
JOIN genres gnr ON gnr.genre_id = gms_gnr.genre_id
"""
pd.read_sql_query(sql_query, conn)

     steam_appid      genre  genre_id
0         494990     Action         1
1         494990     Casual         4
2         494990      Indie        23
3        1149930     Action         1
4        1149930  Adventure        25
..           ...        ...       ...
645      1198740   Strategy         2
646       497000     Action         1
647       497000  Adventure        25
648       497000      Indie        23
649       497000   Strategy         2

[650 rows x 3 columns]

In [37]:
sql_query = """SELECT gms.steam_appid, gnr.genre, gms_gnr.genre_id
FROM
games gms
JOIN GamesGenresRelation gms_gnr ON gms.steam_appid = gms_gnr.steam_appid
JOIN genres gnr ON gnr.genre_id = gms_gnr.genre_id
"""
c.execute(sql_query)
rows = c.fetchall()
rows

[(494990, 'Action', 1),
 (494990, 'Casual', 4),
 (494990, 'Indie', 23),
 (1149930, 'Action', 1),
 (1149930, 'Adventure', 25),
 (1149930, 'Indie', 23),
 (1149930, 'RPG', 3),
 (1149930, 'Strategy', 2),
 (462770, 'Action', 1),
 (462770, 'Indie', 23),
 (462770, 'RPG', 3),
 (1193660, 'Adventure', 25),
 (1193660, 'Casual', 4),
 (440380, 'Action', 1),
 (440380, 'Indie', 23),
 (439880, 'Adventure', 25),
 (468490, 'Action', 1),
 (468490, 'Adventure', 25),
 (468490, 'Casual', 4),
 (468490, 'Indie', 23),
 (468490, 'Strategy', 2),
 (1197590, 'Action', 1),
 (1197590, 'Casual', 4),
 (1197590, 'Indie', 23),
 (1175550, 'Casual', 4),
 (1175550, 'Strategy', 2),
 (1133230, 'Indie', 23),
 (1133230, 'Simulation', 28),
 (1133230, 'Strategy', 2),
 (1145460, 'Casual', 4),
 (1145460, 'Indie', 23),
 (1145460, 'RPG', 3),
 (1145460, 'Simulation', 28),
 (1144280, 'Action', 1),
 (1144280, 'Casual', 4),
 (1144280, 'Indie', 23),
 (431360, 'Action', 1),
 (431360, 'Adventure', 25),
 (431360, 'Indie', 23),
 (431360, 'Early Access', 70),
 (470890, 'Action', 1),
 (470890, 'Indie', 23),
 (1133520, 'Action', 1),
 (1133520, 'Adventure', 25),
 (1133520, 'Casual', 4),
 (1133520, 'Indie', 23),
 (1133520, 'Early Access', 70),
 (463320, 'Adventure', 25),
 (463320, 'Indie', 23),
 (463320, 'RPG', 3),
 (1115870, 'Indie', 23),
 (449040, 'Free to Play', 37),
 (449040, 'RPG', 3),
 (501310, 'Action', 1),
 (501310, 'Adventure', 25),
 (501310, 'Indie', 23),
 (501310, 'RPG', 3),
 (476650, 'Adventure', 25),
 (1146370, 'Strategy', 2),
 (499540, 'Adventure', 25),
 (499540, 'Indie', 23),
 (1123190, 'Adventure', 25),
 (1123190, 'Casual', 4),
 (474620, 'Action', 1),
 (474620, 'Indie', 23),
 (466130, 'Action', 1),
 (466130, 'Adventure', 25),
 (466130, 'Indie', 23),
 (502400, 'Action', 1),
 (502400, 'Casual', 4),
 (502400, 'Indie', 23),
 (502400, 'Strategy', 2),
 (499100, 'Adventure', 25),
 (499100, 'Casual', 4),
 (487590, 'Casual', 4),
 (1142130, 'Action', 1),
 (1142130, 'Free to Play', 37),
 (1142130, 'Indie', 23),
 (1142130, 'Strategy', 2),
 (1126340, 'Indie', 23),
 (1126340, 'Early Access', 70),
 (1191610, 'Indie', 23),
 (1161910, 'Action', 1),
 (1118070, 'Action', 1),
 (1118070, 'Indie', 23),
 (1118070, 'Simulation', 28),
 (1141300, 'Action', 1),
 (1141300, 'Indie', 23),
 (1141300, 'Simulation', 28),
 (438490, 'Action', 1),
 (438490, 'RPG', 3),
 (1137040, 'Action', 1),
 (1137040, 'Casual', 4),
 (1137040, 'Indie', 23),
 (1137040, 'Simulation', 28),
 (1137040, 'Early Access', 70),
 (1116290, 'Adventure', 25),
 (1116290, 'Indie', 23),
 (1156810, 'Utilities', 57),
 (451900, 'Indie', 23),
 (451900, 'RPG', 3),
 (451900, 'Strategy', 2),
 (1161570, 'Adventure', 25),
 (1161570, 'Casual', 4),
 (1141170, 'Action', 1),
 (1141170, 'Adventure', 25),
 (1141170, 'Casual', 4),
 (1141170, 'Indie', 23),
 (1141170, 'RPG', 3),
 (1141170, 'Simulation', 28),
 (1141170, 'Early Access', 70),
 (500790, 'Action', 1),
 (500790, 'Indie', 23),
 (458990, 'Adventure', 25),
 (458990, 'Indie', 23),
 (505680, 'Violent', 73),
 (505680, 'Gore', 74),
 (505680, 'Action', 1),
 (505680, 'Indie', 23),
 (442500, 'Casual', 4),
 (442500, 'Indie', 23),
 (442500, 'RPG', 3),
 (442500, 'Simulation', 28),
 (442500, 'Sports', 18),
 (442500, 'Strategy', 2),
 (1138800, 'Indie', 23),
 (1138800, 'RPG', 3),
 (494460, 'Adventure', 25),
 (479330, 'Casual', 4),
 (479330, 'Strategy', 2),
 (496250, 'Indie', 23),
 (496250, 'Sports', 18),
 (496250, 'Early Access', 70),
 (1195920, 'Adventure', 25),
 (1195920, 'Indie', 23),
 (448540, 'Adventure', 25),
 (448540, 'Indie', 23),
 (1127850, 'Action', 1),
 (1127850, 'Adventure', 25),
 (1127850, 'Indie', 23),
 (1127850, 'RPG', 3),
 (427700, 'Action', 1),
 (427700, 'RPG', 3),
 (503550, 'Action', 1),
 (503550, 'Adventure', 25),
 (503550, 'Indie', 23),
 (461760, 'Action', 1),
 (461760, 'Casual', 4),
 (461760, 'Indie', 23),
 (1137730, 'Casual', 4),
 (1137730, 'Indie', 23),
 (446870, 'Action', 1),
 (446870, 'Indie', 23),
 (1125800, 'Casual', 4),
 (1156030, 'Simulation', 28),
 (463470, 'Action', 1),
 (463470, 'Adventure', 25),
 (463470, 'Indie', 23),
 (463470, 'Strategy', 2),
 (1137930, 'Action', 1),
 (1137930, 'Adventure', 25),
 (1137930, 'Casual', 4),
 (1137930, 'Indie', 23),
 (1137930, 'Strategy', 2),
 (1122210, 'Action', 1),
 (1122210, 'Adventure', 25),
 (1122210, 'Casual', 4),
 (1122210, 'Indie', 23),
 (1122210, 'RPG', 3),
 (1122210, 'Simulation', 28),
 (1122210, 'Sports', 18),
 (1122210, 'Strategy', 2),
 (1184820, 'Adventure', 25),
 (1184820, 'Indie', 23),
 (1184820, 'RPG', 3),
 (1184820, 'Strategy', 2),
 (1184820, 'Early Access', 70),
 (1131270, 'Adventure', 25),
 (1131270, 'Indie', 23),
 (1131270, 'Sports', 18),
 (1131270, 'Strategy', 2),
 (1131270, 'Early Access', 70),
 (476000, 'Indie', 23),
 (1148910, 'Animation & Modeling', 51),
 (1148910, 'Design & Illustration', 53),
 (1148910, 'Education', 54),
 (1148910, 'Software Training', 56),
 (1148910, 'Utilities', 57),
 (1148910, 'Video Production', 58),
 (1148910, 'Web Publishing', 59),
 (1148910, 'Game Development', 60),
 (1162560, 'Adventure', 25),
 (449240, 'Indie', 23),
 (437210, 'Simulation', 28),
 (437210, 'Sports', 18),
 (1186260, 'Indie', 23),
 (1186260, 'RPG', 3),
 (1186260, 'Simulation', 28),
 (449470, 'Adventure', 25),
 (449470, 'Free to Play', 37),
 (449470, 'Massively Multiplayer', 29),
 (449470, 'RPG', 3),
 (1135130, 'Indie', 23),
 (447540, 'Action', 1),
 (447540, 'Indie', 23),
 (1147850, 'Action', 1),
 (1147850, 'Adventure', 25),
 (1147850, 'Casual', 4),
 (1147850, 'Indie', 23),
 (1147850, 'RPG', 3),
 (437090, 'Indie', 23),
 (488890, 'Action', 1),
 (488890, 'Indie', 23),
 (1152050, 'Adventure', 25),
 (1152050, 'Indie', 23),
 (1152050, 'RPG', 3),
 (465920, 'Adventure', 25),
 (465920, 'Casual', 4),
 (1133910, 'Action', 1),
 (1133910, 'Casual', 4),
 (1133910, 'Indie', 23),
 (1133910, 'Racing', 9),
 (485230, 'Casual', 4),
 (485230, 'Indie', 23),
 (1173310, 'Action', 1),
 (1173310, 'Adventure', 25),
 (1173310, 'Casual', 4),
 (1173310, 'Indie', 23),
 (1173310, 'Strategy', 2),
 (1147030, 'Adventure', 25),
 (1147030, 'Free to Play', 37),
 (1155340, 'Adventure', 25),
 (1155340, 'Casual', 4),
 (1155340, 'Indie', 23),
 (1135380, 'Indie', 23),
 (1118350, 'Action', 1),
 (1118350, 'Indie', 23),
 (460160, 'Adventure', 25),
 (460160, 'Casual', 4),
 (502880, 'Action', 1),
 (502880, 'Indie', 23),
 (463290, 'Casual', 4),
 (463290, 'Indie', 23),
 (482390, 'Casual', 4),
 (482390, 'Indie', 23),
 (1190110, 'Action', 1),
 (1190110, 'Adventure', 25),
 (1190110, 'Indie', 23),
 (1190110, 'RPG', 3),
 (1190110, 'Simulation', 28),
 (1190110, 'Strategy', 2),
 (504400, 'Adventure', 25),
 (504400, 'Casual', 4),
 (504400, 'Indie', 23),
 (1128770, 'Casual', 4),
 (1128770, 'Indie', 23),
 (1128770, 'Strategy', 2),
 (1140880, 'Casual', 4),
 (1140880, 'Indie', 23),
 (1140880, 'Simulation', 28),
 (480900, 'Adventure', 25),
 (480900, 'Indie', 23),
 (705800, 'Action', 1),
 (705800, 'Indie', 23),
 (1147840, 'Action', 1),
 (1147840, 'Indie', 23),
 (506260, 'Action', 1),
 (506260, 'RPG', 3),
 (1196440, 'Casual', 4),
 (1196440, 'Indie', 23),
 (1136030, 'Casual', 4),
 (1136030, 'Indie', 23),
 (1136030, 'Sports', 18),
 (1136030, 'Strategy', 2),
 (1126860, 'Adventure', 25),
 (1126860, 'Indie', 23),
 (1126860, 'Simulation', 28),
 (1126860, 'Strategy', 2),
 (1197550, 'Simulation', 28),
 (1158310, 'RPG', 3),
 (1158310, 'Simulation', 28),
 (1158310, 'Strategy', 2),
 (1131790, 'Action', 1),
 (1131790, 'Adventure', 25),
 (1131790, 'Indie', 23),
 (1131790, 'Strategy', 2),
 (1124830, 'Action', 1),
 (1124830, 'Indie', 23),
 (1124830, 'RPG', 3),
 (1183720, 'Utilities', 57),
 (1161680, 'Indie', 23),
 (1160800, 'Action', 1),
 (1160800, 'Indie', 23),
 (462100, 'Action', 1),
 (462100, 'Indie', 23),
 (462100, 'Early Access', 70),
 (1191900, 'Casual', 4),
 (1191900, 'Indie', 23),
 (432980, 'Action', 1),
 (432980, 'Casual', 4),
 (432980, 'Indie', 23),
 (432980, 'Strategy', 2),
 (1145810, 'Action', 1),
 (1145810, 'Adventure', 25),
 (1145810, 'Indie', 23),
 (1148710, 'Adventure', 25),
 (1148710, 'Indie', 23),
 (1148710, 'RPG', 3),
 (492490, 'Action', 1),
 (492490, 'Indie', 23),
 (460640, 'Adventure', 25),
 (460640, 'Indie', 23),
 (496300, 'Indie', 23),
 (496300, 'Simulation', 28),
 (496300, 'Strategy', 2),
 (1174890, 'Indie', 23),
 (1174890, 'Strategy', 2),
 (1174890, 'Early Access', 70),
 (479200, 'Action', 1),
 (479200, 'Adventure', 25),
 (479200, 'Indie', 23),
 (479200, 'RPG', 3),
 (479200, 'Early Access', 70),
 (468070, 'Massively Multiplayer', 29),
 (468070, 'Simulation', 28),
 (468070, 'Sports', 18),
 (468070, 'Early Access', 70),
 (504420, 'Action', 1),
 (504420, 'Indie', 23),
 (460940, 'Adventure', 25),
 (460940, 'Indie', 23),
 (1174980, 'Audio Production', 52),
 (1174980, 'Design & Illustration', 53),
 (1174980, 'Utilities', 57),
 (473050, 'Action', 1),
 (473050, 'Adventure', 25),
 (473050, 'Indie', 23),
 (496380, 'Casual', 4),
 (496380, 'Indie', 23),
 (496380, 'Simulation', 28),
 (497040, 'Casual', 4),
 (497040, 'Indie', 23),
 (1151650, 'Casual', 4),
 (1151650, 'Indie', 23),
 (495720, 'Action', 1),
 (495720, 'Indie', 23),
 (496620, 'Action', 1),
 (496620, 'Indie', 23),
 (434880, 'RPG', 3),
 (434880, 'Strategy', 2),
 (454250, 'Adventure', 25),
 (454250, 'Indie', 23),
 (1193300, 'Action', 1),
 (1193300, 'Adventure', 25),
 (1193300, 'Indie', 23),
 (1193300, 'RPG', 3),
 (1193300, 'Strategy', 2),
 (431740, 'Action', 1),
 (431740, 'Adventure', 25),
 (431740, 'Indie', 23),
 (422010, 'Adventure', 25),
 (422010, 'Indie', 23),
 (467430, 'Casual', 4),
 (463440, 'Action', 1),
 (463440, 'Indie', 23),
 (463440, 'Strategy', 2),
 (1158010, 'Indie', 23),
 (1158010, 'Simulation', 28),
 (422610, 'Strategy', 2),
 (706440, 'Action', 1),
 (706440, 'Adventure', 25),
 (706440, 'Casual', 4),
 (706440, 'Indie', 23),
 (706440, 'Racing', 9),
 (706440, 'Simulation', 28),
 (498450, 'Indie', 23),
 (497310, 'Design & Illustration', 53),
 (497310, 'Education', 54),
 (497310, 'Photo Editing', 55),
 (497310, 'Software Training', 56),
 (452320, 'Indie', 23),
 (452320, 'Strategy', 2),
 (445310, 'RPG', 3),
 (445310, 'Strategy', 2),
 (475630, 'Action', 1),
 (475630, 'Free to Play', 37),
 (475630, 'Massively Multiplayer', 29),
 (475630, 'Strategy', 2),
 (456760, 'Action', 1),
 (456760, 'RPG', 3),
 (466270, 'Indie', 23),
 (1172050, 'Action', 1),
 (1172050, 'Adventure', 25),
 (1172050, 'Casual', 4),
 (1172050, 'Indie', 23),
 (1172050, 'Simulation', 28),
 (1172050, 'Sports', 18),
 (1125350, 'Casual', 4),
 (1125350, 'Indie', 23),
 (1125350, 'Strategy', 2),
 (1187600, 'Indie', 23),
 (451540, 'Action', 1),
 (451540, 'Indie', 23),
 (464470, 'Action', 1),
 (464470, 'Adventure', 25),
 (464470, 'Indie', 23),
 (464470, 'RPG', 3),
 (464470, 'Early Access', 70),
 (1127450, 'Casual', 4),
 (1127450, 'Indie', 23),
 (1127450, 'Simulation', 28),
 (1149190, 'Adventure', 25),
 (1149190, 'Indie', 23),
 (1165460, 'Adventure', 25),
 (1165460, 'Casual', 4),
 (1165460, 'Indie', 23),
 (1165460, 'Early Access', 70),
 (1132730, 'Action', 1),
 (1132730, 'Adventure', 25),
 (1132730, 'RPG', 3),
 (1132730, 'Strategy', 2),
 (456450, 'Utilities', 57),
 (1146300, 'Action', 1),
 (1146300, 'Adventure', 25),
 (1179340, 'Action', 1),
 (1179340, 'Casual', 4),
 (1179340, 'Indie', 23),
 (466050, 'Adventure', 25),
 (466050, 'Casual', 4),
 (455490, 'Adventure', 25),
 (455490, 'Indie', 23),
 (455490, 'Simulation', 28),
 (491520, 'Adventure', 25),
 (491520, 'Casual', 4),
 (491520, 'Indie', 23),
 (491520, 'Racing', 9),
 (491520, 'Simulation', 28),
 (491520, 'Sports', 18),
 (466040, 'Casual', 4),
 (466040, 'Strategy', 2),
 (486810, 'Adventure', 25),
 (486810, 'Casual', 4),
 (503960, 'Casual', 4),
 (503960, 'Indie', 23),
 (503960, 'Strategy', 2),
 (1119500, 'Action', 1),
 (1119500, 'Indie', 23),
 (1119500, 'Sports', 18),
 (469790, 'Action', 1),
 (469790, 'Adventure', 25),
 (469790, 'Casual', 4),
 (469790, 'Indie', 23),
 (1140790, 'Action', 1),
 (1140790, 'Adventure', 25),
 (1140790, 'Indie', 23),
 (1140790, 'RPG', 3),
 (1196380, 'Adventure', 25),
 (1196380, 'Indie', 23),
 (1136880, 'Casual', 4),
 (1136880, 'Indie', 23),
 (1136880, 'Simulation', 28),
 (1136880, 'Sports', 18),
 (496980, 'Action', 1),
 (496980, 'Casual', 4),
 (496980, 'Indie', 23),
 (496980, 'Strategy', 2),
 (463710, 'Casual', 4),
 (463710, 'Indie', 23),
 (1154700, 'RPG', 3),
 (463860, 'Action', 1),
 (463860, 'Adventure', 25),
 (463860, 'Indie', 23),
 (463860, 'RPG', 3),
 (463860, 'Simulation', 28),
 (464630, 'Casual', 4),
 (428240, 'Action', 1),
 (428240, 'Indie', 23),
 (1143390, 'Action', 1),
 (1143390, 'Indie', 23),
 (1143390, 'Strategy', 2),
 (423890, 'Free to Play', 37),
 (423890, 'Massively Multiplayer', 29),
 (423890, 'RPG', 3),
 (423890, 'Strategy', 2),
 (423890, 'Early Access', 70),
 (1150310, 'Casual', 4),
 (1150310, 'Indie', 23),
 (1150310, 'Sports', 18),
 (436500, 'Adventure', 25),
 (436500, 'Casual', 4),
 (436500, 'Indie', 23),
 (436500, 'RPG', 3),
 (436500, 'Simulation', 28),
 (486140, 'Action', 1),
 (486140, 'Casual', 4),
 (486140, 'Indie', 23),
 (504450, 'Action', 1),
 (504450, 'Adventure', 25),
 (504450, 'Indie', 23),
 (504450, 'Strategy', 2),
 (467270, 'Action', 1),
 (467270, 'Indie', 23),
 (467270, 'RPG', 3),
 (467270, 'Strategy', 2),
 (1198390, 'Adventure', 25),
 (1198390, 'Casual', 4),
 (1198390, 'Indie', 23),
 (433570, 'Action', 1),
 (433570, 'Adventure', 25),
 (433570, 'Indie', 23),
 (438090, 'Action', 1),
 (438090, 'Casual', 4),
 (438090, 'Indie', 23),
 (1125770, 'Indie', 23),
 (1125770, 'Simulation', 28),
 (1197020, 'Action', 1),
 (1197020, 'Adventure', 25),
 (1197020, 'Casual', 4),
 (1197020, 'Indie', 23),
 (1115650, 'Adventure', 25),
 (1115650, 'Indie', 23),
 (1115650, 'Simulation', 28),
 (494380, 'Simulation', 28),
 (494380, 'Sports', 18),
 (1138580, 'Indie', 23),
 (1138580, 'Simulation', 28),
 (1138580, 'Strategy', 2),
 (1138580, 'Early Access', 70),
 (1175430, 'Action', 1),
 (1175430, 'Adventure', 25),
 (1175430, 'Casual', 4),
 (1175430, 'Indie', 23),
 (1176040, 'Indie', 23),
 (1176040, 'RPG', 3),
 (1175650, 'Action', 1),
 (1175650, 'Adventure', 25),
 (1175650, 'Indie', 23),
 (1175650, 'Racing', 9),
 (1187840, 'Action', 1),
 (1187840, 'Adventure', 25),
 (1187840, 'Indie', 23),
 (463350, 'Action', 1),
 (463350, 'Adventure', 25),
 (463350, 'Indie', 23),
 (463350, 'RPG', 3),
 (1150610, 'Action', 1),
 (1150610, 'Adventure', 25),
 (1150610, 'Casual', 4),
 (1150610, 'Indie', 23),
 (1150610, 'Simulation', 28),
 (460140, 'Adventure', 25),
 (460140, 'Indie', 23),
 (1198450, 'Adventure', 25),
 (1198450, 'Casual', 4),
 (1152090, 'Action', 1),
 (1152090, 'Adventure', 25),
 (1152090, 'Indie', 23),
 (1152090, 'RPG', 3),
 (1152090, 'Simulation', 28),
 (1152090, 'Early Access', 70),
 (436320, 'Action', 1),
 (436320, 'Indie', 23),
 (436320, 'Strategy', 2),
 (1120810, 'Action', 1),
 (1120810, 'Adventure', 25),
 (1120810, 'RPG', 3),
 (477800, 'Casual', 4),
 (477800, 'Free to Play', 37),
 (477800, 'Indie', 23),
 (477800, 'Simulation', 28),
 (1157120, 'Action', 1),
 (1157120, 'Casual', 4),
 (1157120, 'Indie', 23),
 (1157120, 'Early Access', 70),
 (464700, 'Action', 1),
 (464700, 'Adventure', 25),
 (464700, 'Casual', 4),
 (464700, 'Free to Play', 37),
 (464700, 'Indie', 23),
 (1148740, 'Action', 1),
 (1148740, 'Indie', 23),
 (474830, 'Casual', 4),
 (474830, 'Indie', 23),
 (474830, 'Strategy', 2),
 (429520, 'Simulation', 28),
 (1120280, 'Indie', 23),
 (1120280, 'Strategy', 2),
 (1118380, 'Utilities', 57),
 (1135090, 'Adventure', 25),
 (1135090, 'Indie', 23),
 (1146970, 'Casual', 4),
 (1146970, 'Indie', 23),
 (1167380, 'Action', 1),
 (1167380, 'Adventure', 25),
 (1167380, 'Indie', 23),
 (1152480, 'RPG', 3),
 (705290, 'Adventure', 25),
 (705290, 'Casual', 4),
 (705290, 'Indie', 23),
 (1153890, 'Casual', 4),
 (1153890, 'RPG', 3),
 (477770, 'Racing', 9),
 (477770, 'Simulation', 28),
 (477770, 'Sports', 18),
 (473840, 'Action', 1),
 (473840, 'Adventure', 25),
 (473840, 'Indie', 23),
 (473840, 'RPG', 3),
 (1188290, 'Action', 1),
 (1188290, 'Adventure', 25),
 (1188290, 'Indie', 23),
 (1188290, 'Simulation', 28),
 (495680, 'Action', 1),
 (495680, 'Indie', 23),
 (1180540, 'Casual', 4),
 (1180540, 'Indie', 23),
 (1180540, 'Strategy', 2),
 (1192610, 'Action', 1),
 (1192610, 'Adventure', 25),
 (1192610, 'Indie', 23),
 (1192610, 'RPG', 3),
 (1192610, 'Simulation', 28),
 (446110, 'Casual', 4),
 (496810, 'Action', 1),
 (1141220, 'Adventure', 25),
 (1141220, 'Indie', 23),
 (1141220, 'RPG', 3),
 (1141220, 'Strategy', 2),
 (455290, 'Action', 1),
 (455290, 'Casual', 4),
 (455290, 'Indie', 23),
 (478980, 'Adventure', 25),
 (478980, 'Strategy', 2),
 (460250, 'Casual', 4),
 (460250, 'Indie', 23),
 (461850, 'Casual', 4),
 (461850, 'Indie', 23),
 (461850, 'Strategy', 2),
 (506470, 'Action', 1),
 (506470, 'Indie', 23),
 (505630, 'Action', 1),
 (505630, 'Indie', 23),
 (424040, 'Action', 1),
 (424040, 'Indie', 23),
 (1198740, 'Simulation', 28),
 (1198740, 'Strategy', 2),
 (497000, 'Action', 1),
 (497000, 'Adventure', 25),
 (497000, 'Indie', 23),
 (497000, 'Strategy', 2)]

In [38]:
sql_query = """SELECT gms.steam_appid, gnr.genre, gms_gnr.genre_id
FROM
games gms
JOIN GamesGenresRelation gms_gnr ON gms.steam_appid = gms_gnr.steam_appid
JOIN genres gnr ON gnr.genre_id = gms_gnr.genre_id
"""

(494990, 'Action', 1)

In [35]:
xxx

NameError: name 'xxx' is not defined

In [ ]:
# Close the connection
conn.close()